{% extends "blog_base.haml" %}
{% load wagtailimages_tags %}
{% load blog_article_page_filters %}

{% block properties %}
    {% image page.specific.cover_photo  fill-1200x627 as photo %}
    %link{:rel => "image_src", :href => "{{ URL_PREFIX }}://{{ request.META.HTTP_HOST }}{{ photo.url }}"}
    %link{:rel => "canonical", :href => "{{ URL_PREFIX }}://{{ request.META.HTTP_HOST }}{{ request.path|add_slash }}"}
    %meta{:property => "og:type", :content => "article"}
    %meta{:property => "og:locale", :content => "en_US"}
    %meta{:property => "article:author", :content => "{{ page.specific.author }}"}
    %meta{:property => "og:url", :content => "{{ URL_PREFIX }}://{{ request.META.HTTP_HOST }}{{ request.path }}"}
    %meta{:property => "og:title", :content => "{{ page.specific.title }}"}
    %meta{:property => "og:image", :content => "{{ URL_PREFIX }}://{{ request.META.HTTP_HOST }}{{ photo.url }}"}
    %meta{:property => "og:image:secure_url", :content => "{{ URL_PREFIX }}://{{ request.META.HTTP_HOST }}{{ photo.url }}"}
    %meta{:property => "og:image:width", :content => "{{ photo.width }}"}
    %meta{:property => "og:image:height", :content => "{{ photo.height }}"}
    %meta{:property => "og:description", :content => "{{ page.specific.meta_description }}"}
    %meta{:name => "author" , :content => "{{ page.specific.author }}"}
    %meta{:property => "twitter:card", :content => "summary"}
    %meta{:property => "twitter:title", :content => "{{ page.specific.title }}"}
    %meta{:property => "twitter:image", :content => "{{ URL_PREFIX }}://{{ request.META.HTTP_HOST }}{{ photo.url }}"}
{% endblock %}

{% block blog_content %}
    {% include 'blog/post.haml' %}
{% endblock %}
