{% extends "base.haml" %}
{% load thumbnail %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load pipeline %}

{% block content %}
    {% include 'blog/blog_menu.haml' %}
    {% stylesheet 'blog_posts_list' %}
    .container.blog-posts-list
        {% if search_results %}
            .col-md-12.posts-container
                {% include 'blog/partials/article_list.haml' with article_list=search_results %}

        {% else %}
            .no-articles-div
                .nothing-found-text
                    Nothing Found
                .no-matched-criteria-text
                    Sorry, no posts matched your criteria
        {% endif %}
{% endblock %}
