{% extends "blog_base.haml" %}
{% block title %}Code Poets - Software Development Company | Wrocław, Poland{% endblock %}

{% block blog_content %}
    {% include 'blog/blog_posts_list.haml' %}
{% endblock %}
