$font-family: 'Open Sans', sans-serif
$light-grey: #a7abb1
$medium-grey: #404852
$dark-grey: #36393d
$orange-color: #FFC03C
$blue-color: #3777BA
$hovered-blue-color: #528ac4

$white-color: rgb(255, 255, 255)

$fast-animation: all 0.4s ease
$logo-animation: all 0.9s ease
$slow-animation: all 1s ease

$md-screen-size: 991px
$sm-screen-size: 768px

@mixin hamburger-line
	width: 100%
	height: 3px
	background-color: $orange-color
	position: absolute
