$orange-color: #FFC03C
$blue-color: #3777BA
$hovered-blue-color: #3444CB
$grey-hr-color: #DFEBE5

$white-color: rgb(255, 255, 255)

$fast-animation: all 0.5s ease
$slow-animation: all 1s ease

$lg-screen-size: 991px
$sm-screen-size: 767px

$container-content-margin: 13%
$container-title-template-margin: 25px
$container-row-line-margin: 20px
