{% load thumbnail %}
{% load pipeline %}
{% stylesheet 'blog_posts_list' %}
{% load wagtailimages_tags %}


.row.rest-posts
    {% for blog_article in article_list  %}
        .col-md-6.article-text-container{:class => "{% if forloop.counter|divisibleby:'2' %}grey-background{% endif %}"}
            .row.title
                %a.main-article-url{:href => "{% url 'wagtail_serve' blog_article.specific.slug %}"}
                    .main-article-title {{ blog_article.specific.title }}

            .row.info-section
                .info-section
                    {% thumbnail blog_article.specific.author.front_image "400x400" as image %}
                        %img.main-img.lazyload{:data-src => "{{ image.url }}", :alt => "{{ blog_article.specific.author.full_name }}"}
                    {% endthumbnail %}
                    .auto-name
                        .container-section
                            .author-name{:onClick => 'showBio(this, "{{ blog_article.specific.author.bio }}")'}
                                {{ blog_article.specific.author.full_name }}
                                {% include 'blog/partials/author_bio.haml' with author=blog_article.specific.author.full_name bio=blog_article.specific.author.bio  author_image=blog_article.specific.author.front_image %}
                    .read-time
                        {{ blog_article.specific.read_time }} min read
                    .date
                        {{ blog_article.specific.date }}

            .row.article-img-container
                %a.image-url{:href => "{% url 'wagtail_serve' blog_article.specific.slug %}"}
                    {% image blog_article.specific.cover_photo fill-1200x628 %}

            .row.intro-row
                .intro-container
                    {% autoescape off %}
                        {{ blog_article.specific.intro }}
                    {% endautoescape %}
                .read-more
                    %a.read-more-url{:href => "{% url 'wagtail_serve' blog_article.specific.slug %}"}
                        %span.more Read more

        {% if forloop.counter|divisibleby:"2" %}
            .row.separator
                %hr.line
        {% endif %}
    {% endfor %}

.articles-paginator
    {% if article_list.paginator.num_pages > 1 %}
        .pagination
            {% if article_list.has_previous %}
                %li.page-item
                    %a.page-link{:href => "?page=1"}
                        %span &laquo;
                %li.page-item
                    %a.page-link{:href => "?page={{ article_list.previous_page_number }}"}
                        %span &lsaquo;
            {% endif %}

            {% for page_num in article_list.paginator.page_range %}
                {% if page_num == article_list.number %}
                    %li.page-item.active
                        %a.page-link{:href => "?page={{ page_num }}"} {{ page_num }}
                {% elif page_num > article_list.number|add:'-3' and page_num < article_list.number|add:'3' %}
                    %li.page-item
                        %a.page-link{:href => "?page={{ page_num }}"} {{ page_num }}
                {% endif %}
            {% endfor %}

            {% if article_list.has_next %}
                %li.page-item
                    %a.page-link{:href => "?page={{ article_list.next_page_number }}"}
                        %span &rsaquo;
                %li.page-item
                    %a.page-link{:href => "?page={{ article_list.paginator.num_pages }}"}
                        %span &raquo;
            {% endif %}
    {% endif %}
