@import "partials/set_initials"
@import "partials/constants"
@import "partials/hamburger_menu"

.overlay
    position: fixed
    z-index: -100
    top: 0
    right: 0
    left: 0
    height: 100vh
    width: 100%
    cursor: pointer

.disable-fields
    z-index: 999
    background-color: black
    opacity: 0.7

.navbar-mobile
    display: none

.navbar.nb-visible
    padding-top: 0

.navbar.nb-hidden
    padding-top: 15px

    .bottom-shadow
        display: none

.navbar
    display: block
    min-width: calc(#{$menu-max-size} - 20px)
    height: 60px
    padding-left: 0
    padding-right: 0
    padding-bottom: 0
    -webkit-transition: $slow-animation
    -moz-transition: $slow-animation
    -ms-transition: $slow-animation
    -o-transition: $slow-animation
    transition: $slow-animation

    .collapse, .navbar-collapse
        z-index: 15

    .bottom-shadow
        margin: 0
        margin-block-start: 0
        height: 4px
        border: 0
        box-shadow: inset 0 13px 3px -12px rgba(0, 0, 0, 0.5)

    .navbar-collapse.background-change
        background-color: $blue-color
        -webkit-transition: $fast-animation
        -moz-transition: $fast-animation
        -ms-transition: $fast-animation
        -o-transition: $fast-animation
        transition: $fast-animation

    .navbar-collapse
        width: 100%
        -webkit-transition: $fast-animation
        -moz-transition: $fast-animation
        -ms-transition: $fast-animation
        -o-transition: $fast-animation
        transition: $fast-animation

        .logo
            position: absolute
            top: 10px
            left: 30px
            z-index: 3
            height: 66px
            width: auto
            margin-top: 5px

            .codepoets-logo
                -webkit-transition: $logo-make-bigger-animation
                -moz-transition: $logo-make-bigger-animation
                -ms-transition: $logo-make-bigger-animation
                -o-transition: $logo-make-bigger-animation
                transition: $logo-make-bigger-animation
                height: 66px
                width: auto
                margin-top: 5px

                @media only screen and (max-width: 1090px)
                    height: 45px
                    margin-top: 11px
                    -webkit-transition: $slow-animation
                    -moz-transition: $slow-animation
                    -ms-transition: $slow-animation
                    -o-transition: $slow-animation
                    transition: $slow-animation

        .logo.scrolled
            .codepoets-logo
                margin-top: -5px
                height: 45px
                width: auto
                -webkit-transition: $logo-animation
                -moz-transition: $logo-animation
                -ms-transition: $logo-animation
                -o-transition: $logo-animation
                transition: $logo-animation

                @media only screen and (max-width: 1090px)
                    -webkit-transition: $slow-animation
                    -moz-transition: $slow-animation
                    -ms-transition: $slow-animation
                    -o-transition: $slow-animation
                    transition: $slow-animation

        .menu
            li.nav-item.margin
                margin-top: 10px
                margin-left: 10px
                margin-right: 10px
                font-size: 14px
                font-weight: 700

                @media only screen and (max-width: 1090px)
                    margin-left: 8px
                    margin-right: 8px

                .nav-link
                    color: $white-color
                    font-weight: 700

                .nav-link.margin, .nav-link.mobile-link
                    color: $white-color

                .nav-link:hover
                    opacity: 0.8

                .nav-link:focus
                    color: $white-color

            .nav-link.estimate-anchor
                color: $blue-color
                font-weight: 700
                padding: 0

                .nav-item.estimate
                    background-color: $orange-color
                    height: 60px
                    font-size: 16px
                    padding: 15px

                    .estimate-project
                        vertical-align: middle

            &:hover
                color: $hovered-blue-color

            .estimate-triangle-left
                width: 0
                height: 60px
                border-top: 30px solid transparent
                border-right: 30px solid $orange-color
                border-bottom: 30px solid transparent
                margin-left: 10px

            .estimate-triangle-right
                height: 60px
                border-top: 30px solid $orange-color
                border-right: 30px solid #FF6C17
                border-bottom: 30px solid $orange-color

@media screen and (max-width: $menu-max-size)
    .navbar
        display: none

    .navbar-mobile
        position: fixed
        right: -260px
        top: 0
        display: table
        z-index: 1000

    .navigation
        height: 100%
        width: 260px
        background: $blue-color
        -webkit-transition: all .5s ease-in-out
        -moz-transition: all .5s ease-in-out
        -ms-transition: all .5s ease-in-out
        -o-transition: all .5s ease-in-out
        transition: all .5s ease-in-out


        .menu-mobile
            position: relative
            scrollbar-width: none
            overflow-y: auto
            height: 100vh
            width: inherit
            text-align: center

            &::-webkit-scrollbar
                width: 0 !important

            .codepoets-logo-mobile
                position: absolute
                top: 15px
                right: 84px
                width: 150px

            .menu
                padding-top: 30%
                padding-bottom: 30%
                -ms-overflow-y: scroll
                vertical-align: middle
                text-align: center

                .mobile-nav
                    font-weight: 600
                    margin-top: 0
                    height: unset
                    padding: 15px 0
                    margin-left: 10px
                    margin-right: 10px
                    font-size: 14px

                    .nav-link
                        margin-top: 0

                    .nav-link.mobile-link
                        color: $white-color

                        &:hover
                            opacity: 0.8

                .nav-link.mobile-link
                    margin-top: 9px
                    color: $blue-color

                    .nav-item.estimate.mobile-nav
                        background-color: $orange-color
                        padding: 15px
                        height: 60px
                        font-size: 16px
                        font-weight: 700

                        .mobile
                            vertical-align: middle


                &:hover
                    color: $hovered-blue-color

    .navigation-active
        transform: translateX(-260px)
