@import "../common/partials/constants"

.feather.feather-yellow
    width: 14vw
    position: absolute
    right: 0
    opacity: 0.3
    margin-right: 25px
    padding-top: 80px

.container.about-us-container
    .row
        .section-title
            .title
                color: $blue-color
                font-weight: 700
                margin-top: $container-title-template-margin
                margin-bottom: $container-title-template-margin-bottom - 5px

    .row-line
        .hr-line
            margin-top: 0

            @media screen and (max-width: $md-screen-size)
                margin-top: $container-row-line-margin

    .row.about-us-row
        margin: 0

        .about-us-col
            margin: 0 auto
            padding: 0

            @media screen and (max-width: $md-screen-size)
                margin-bottom: 15px

            a, a:hover
                color: white
                text-decoration: none

            .how-we-work-box
                background-color: $how-we-work-box-background

            .about-us-box
                background-color: $about-us-box-background

            .about-us-box, .how-we-work-box
                padding: 0
                border-radius: 20px
                margin: 0 auto 10px
                font-size: 1vw
                vertical-align: middle
                width: fit-content
                width: -moz-fit-content

                @media screen and (max-width: $md-screen-size)
                    font-size: 14px
                    border-radius: 15px

                .about-us-image
                    border-radius: inherit
                    width: 29vw
                    height: auto

                    @media screen and (max-width: $md-screen-size)
                        width: 100%
                        max-width: 400px

                .description
                    vertical-align: middle
                    text-align: center
                    padding: 1.1vw
                    margin: 0
                    font-weight: 700
                    font-size: 1.5em
                    line-height: normal

                    @media screen and (max-width: $md-screen-size)
                        padding: 12px

                &:hover
                    opacity: 0.8
