[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==18.9b0"
flake8 = "*"
ipython = "*"
isort = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
assertpy = "*"

[packages]
Django = "*"
psycopg2 = "==2.7.5"
psycopg2-binary = "==2.7.7"
django-pipeline = "*"
django-hamlpy = "*"
sorl-thumbnail = "*"
pillow = "*"

[requires]
python_version = "3.7"
