{% load static %}
{% load variable_tag %}

{% if request.user_agent.browser.family|is_webp_supported %}
    {% define_variable ".webp" as jira_extension %}
    {% define_variable ".webp" as playbook_extension %}
{% else %}
    {% define_variable ".jpg" as jira_extension %}
    {% define_variable ".png" as playbook_extension %}
{% endif %}

.how-we-work-section-header
    {% include "common_partials/section_header.haml" with title="How we Work" subtext="" %}
.container.how-we-work
    .row.first-description-row
        .col-md-8.mid-section.offset-md-2
            %p.paragraph-description We start with a meeting to get to know you and your idea. A lot of questions flow then — in both directions.
            %p.paragraph-description Once you’re certain that we can help you achieve your goals, we put together a group of our specialists chosen to fit the project best. You get to know the team during a kick-off meeting. Together, we create a step-by-step plan, choose the right methodology, sprint duration etc.
            %p.paragraph-description Apart from standard meetings, regular 1-on-1s with the CEO are a great opportunity to discuss the project’s development, not only from the technical point of view.
    {% include "how_we_work_partials/scrum_metodology.haml" %}
    .row.second-description-row
        .col-sm-12.col-md-8.mid-section.offset-md-2
            %p.paragraph-description Full access to our project management tool (Atlassian JIRA) allows you to see the progress 24/7. You can communicate directly with the team as often as you wish.
    .row.images
        .col-md.agile-images{:data-aos => "zoom-in"}
            %img#image-left-popup.popup.left-image.lazyload{:data-src => "{% static 'how_we_work/images/Project_Board_-_Agile_Board_-_Jira_1_996x704'|add:jira_extension %}", :alt => "Jira board 1"}
        .placeholder
        .col-md.agile-images{:data-aos => "zoom-in"}
            %img#image-right-popup.popup.right-image.lazyload{:data-src => "{% static 'how_we_work/images/Project_Board_-_Agile_Board_-_Jira_2_827x835'|add:jira_extension %}", :alt => "Jira board 2"}

.container.how-we-work
    .row.third-description-row
        .col-md-8.mid-section.offset-md-2
            %h4.should-know-header Additionally:
            %ul.should-know-description
                %li We can take over projects started by other companies.
                %li We can work with undocumented and low quality legacy code — understand, document, refactor and update it to the current industry standards.
                %li We work with an NDA — keep our cooperation confidential.

.how-we-work-pricing-contract-header
    .section-header
        .container
            .content-wrapper
                .section-description-contents
                    .section-description-bar
                    .section-description-text
                        %h1.title
                            Pricing
    %image.section-feather.lazyload{:data-src => "{% static 'career/images/feather_blue_217x403.png' %}", :alt => "Blue Feather"}

.container.how-we-work
    .row.fourth-description-row
        .col-md.description-column
            %strong TIME & MATERIALS
            %p.paragraph-description The price depends on the number of hours spent on a specific project, plus costs of materials.
            %ul.time-materials-ul
                %li Long-term projects
                %li Working on a new business idea (eg. a startup)
                %li Projects that require flexibility and have an unclear scope
                %li Working with legacy code
        .placeholder
        .col-md.description-column
            %strong FIXED-PRICE
            %p The price depends on an estimate of the amount of work that needs to be done.
            %ul.fixed-price-ul
                %li Projects with very clear requirements
                %li Small projects with limited functionality
                %li MVP development
                %li Projects with strictly determined deadlines and budget

    .row.fifth-description-row
        .col-md-8.mid-section.offset-md-2
            %p.paragraph-description Take a look at the main differences between those two pricing models below. If you need some guidance deciding which one makes more sense for your particular needs, we’re here to help you out!

    .row.time-materials-fixed-price-graph
        {% include "how_we_work_partials/time_materials_fixed_price_graph.haml" %}

.imgModal.modal
    .modal-container
        %span.close &times;
        %img#popup-img.modal-content

.how-we-work-playbook-header
    .section-header
        .container
            .content-wrapper
                .section-description-contents
                    .section-description-bar
                    .section-description-text
                        %h1.title
                            Our rules

.container.how-we-work
    .row.sixth-description-row
        .col-md-8.mid-section.offset-md-2
            %p.paragraph-description
                %span.playbook-emphasized-text If you’d like to get an inside look at how Code Poets work internally,
                %a.playbook-link{:href => "{% url 'display_playbook' %}", :download => "CodePoetsPlaybook"}<
                    download our Playbook
                %span.playbook-emphasized-text> .
                %br It’s 22 pages of our history, culture, communication strategies and overall best practices wrapped in an easy-to-read PDF document.

    .row.images
        .col-md-8.mid-section.offset-md-2
            %a{:href => "{% url 'display_playbook' %}", :target => "_blank"}
                %img#image-playbook-popup.popup.playbook-image.lazyload{:data-src => "{% static 'how_we_work/images/who_are_we_playbook_section'|add:playbook_extension %}", :alt => "Playbook section"}
