{% load static %}

.container.how-we-work
    .row
        .col-md-8.offset-md-2.main-title
            %h2.how-we-work-title HOW WE WORK
    .row.first-description-row
        .col-md-8.mid-section.offset-md-2
            %p.paragraph-description In the beginning we would like to get to know you and your idea. We’ll arrange a call or meeting in person if possible so we can meet face-to-face and get more details. Ask us as many questions as you like – we’ll answer them all.
            %p.paragraph-description If you decide to work with us we’ll put together the best team of our people chosen specifically to suit your needs. You’ll also get the best tools and technologies for your product.
            %p.paragraph-description Next step is to set the right plan of action. Together we’ll prepare appropriate steps so the whole process of creating product runs smoothly. Once we have the right plan of action the time has come to implement it. We’re Agile supporters and we usually work in two-week sprints. Here’s how it looks:
    {% include "how_we_work_partials/scrum_metodology.haml" %}
    .row.second-description-row
        .col-sm-12.col-md-8.mid-section.offset-md-2
            %p.paragraph-description For project management we use Atlassian JIRA to which you’ll receive access and be able to observe work in progress 24/7. You can communicate directly with the team as often as you wish – they’ll respond as soon as possible.
