{% load static %}

.container.how-we-work
    .row
        .col-md-8.offset-md-2.main-title
            %h2.how-we-work-title HOW WE WORK
    .row.first-description-row
        .col-md-8.mid-section.offset-md-2
            %p.paragraph-description In the beginning we would like to get to know you and your idea. We’ll arrange a call or meeting in person if possible so we can meet face-to-face and get more details. Ask us as many questions as you like – we’ll answer them all.
            %p.paragraph-description If you decide to work with us we’ll put together the best team of our people chosen specifically to suit your needs. You’ll also get the best tools and technologies for your product.
            %p.paragraph-description Next step is to set the right plan of action. Together we’ll prepare appropriate steps so the whole process of creating product runs smoothly. Once we have the right plan of action the time has come to implement it. We’re Agile supporters and we usually work in two-week sprints. Here’s how it looks:
    {% include "how_we_work_partials/scrum_metodology.haml" %}
    .row.second-description-row
        .col-sm-12.col-md-8.mid-section.offset-md-2
            %p.paragraph-description For project management we use Atlassian JIRA to which you’ll receive access and be able to observe work in progress 24/7. You can communicate directly with the team as often as you wish – they’ll respond as soon as possible.
    .row.images
        .col-md.agile-images{:data-aos => "zoom-in"}
            %img#image-left-popup.popup.left-image.lazyload{:data-src => "{% static 'how_we_work/images/Project_Board_-_Agile_Board_-_Jira_1_996x704.jpg' %}", :alt => "Project board Jira 1", :title => "Project board Jira 1"}
        .placeholder
        .col-md.agile-images{:data-aos => "zoom-in"}
            %img#image-right-popup.popup.right-image.lazyload{:data-src => "{% static 'how_we_work/images/Project_Board_-_Agile_Board_-_Jira_2_827x835.jpg' %}", :alt => "Project board Jira 2", :title => "Project board Jira 2"}
    .row.third-description-row
        .col-md-8.mid-section.offset-md-2
            %h4.should-know-header What else you should know?
            %ul.should-know-description
                %li We can take over projects started by other companies
                %li We also work with undocumented and low quality legacy code – we can understand, document, refactor and update it to the current industry standards
                %li We work with NDA – we always keep our cooperation confidential
            %h2.pricing-contract-header PRICING CONTRACT
            %p.paragraph-description
                %em.sentence “If you think good design is expensive, you should look at the cost of bad design.” Ralf Speth
            %p.paragraph-description Selecting the right pricing contract is a vital step when outsourcing software development. In Code Poets we offer you a choice – you can choose between time & materials and fixed price. Let’s have a look at the advantages and disadvantages of each model.
    .row.fourth-description-row
        .col-md.description-column
            %strong TIME & MATERIALS
            %p.paragraph-description You will be charged for the number of hours spent on a specific project, plus costs of materials. Total cost of a project depends on the actual effort made towards the development. Main advantage is flexibility and opportunity to adjust requirements, shift directions and replace features. You will be given full transparency of work done in a sprint via reviews, sprint boards and regular releases.
            %ul.time-materials-ul
                %li Long-term projects
                %li Developing a startup
                %li Projects that require flexibility and have unclear scope
                %li Projects in which you’re not sure about final functionalities
                %li Working with legacy code
        .placeholder
        .col-md.description-column
            %strong FIXED-PRICE
            %p A fixed-price contract is based on an estimate of the amount of work that needs to be done. This model ensures that the project will be delivered within a specific timeframe and budget. It can be a good choice in cases when you know exactly what you want to create and know all the requirements and specifications. You have to be able to share your clear vision of the product.
            %ul.fixed-price-ul
                %li Projects with very clear requirements
                %li Small projects with limited functionality
                %li MVP developing
                %li Projects with strictly determined deadlines and budget

    .row.time-materials-fixed-price-graph
        {% include "how_we_work_partials/time_materials_fixed_price_graph.haml" %}

.imgModal.modal
    .modal-container
        %span.close &times;
        %img#popup-img.modal-content

