{% load static %}
{% load variable_tag %}

{% if request.user_agent.browser.family|is_webp_supported %}
    {% define_variable ".webp" as extension %}
{% else %}
    {% define_variable ".png" as extension %}
{% endif %}

.row.images-scrum
    .col-sm-12.scrum-col
        .hotspot.product-backlog
            .pulse
                %img.inner-info.product-backlog-field.lazyload{:data-src => "{% static 'how_we_work/images/icon/info-icon'|add:extension %}", :alt => "Information Icon", :title => "Information Icon"}
                .show-tooltip
                    %span.hotspot-description.product-backlog-description
                        %p.title
                            %strong Product backlog
                        It is a list of all things that need to be done within the project. The owner of the Product Backlog is the Product Owner. Product backlog is never complete – it evolves with the product itself and can be changed freely anytime during the development process when time & materials approach is taken.
        .hotspot.sprint-planning
            .pulse
                %img.inner-info.sprint-planning-field.lazyload{:data-src => "{% static 'how_we_work/images/icon/info-icon'|add:extension %}", :alt => "Information Icon", :title => "Information Icon"}
                .show-tooltip.sprint-planning-tooltip
                    %span.hotspot-description.sprint-planning-description
                        %p.title
                            %strong Sprint Planning
                        Next features that need to be done are selected by you. Then, in the meeting, the team has to answer the following question: “What can be delivered in the upcoming sprint?” and move predicted task into the Sprint Backlog.
        .hotspot.sprint-backlog
            .pulse
                %img.inner-info.sprint-backlog-field.lazyload{:data-src => "{% static 'how_we_work/images/icon/info-icon'|add:extension %}", :alt => "Information Icon", :title => "Information Icon"}
                .show-tooltip
                    %span.hotspot-description.sprint-backlog-description
                        %p.title
                            %strong Sprint Backlog
                        The Sprint Backlog is a list of Product Backlog tasks identified by the team to be completed during the Scrum sprint. During the sprint planning meeting, the team selects number of product backlog items and identifies the tasks necessary to meet the Sprint Goal.
        .hotspot.sprint-retrospective
            .pulse
                %img.inner-info.sprint-retrospective-field.lazyload{:data-src => "{% static 'how_we_work/images/icon/info-icon'|add:extension %}", :alt => "Information Icon", :title => "Information Icon"}
                .show-tooltip
                    %span.hotspot-description.sprint-retrospective-description
                        %p.title
                            %strong Sprint Retrospective
                        In the Sprint Retrospective meeting the team focuses not on the software, but on improving the development process itself. This way it is always in line with changing conditions and different stages of a software life cycle.
        .hotspot.scrum-team
            .pulse
                %img.inner-info.scrum-team-field.lazyload{:data-src => "{% static 'how_we_work/images/icon/info-icon'|add:extension %}", :alt => "Information Icon", :title => "Information Icon"}
                .show-tooltip
                    %span.hotspot-description.scrum-teamg-description
                        %p.title
                            %strong Scrum Team
                        The Scrum Team consists of a Product Owner, the Development Team, and a Scrum Master. It’s self-organized in its own way to succesfully accomplish work instead of being directed from the outside. Scrum Team has all competencies needed to accomplish the work without depending on external resources. The team model in Scrum is designed to optimize flexibility, creativity, and productivity.
        .hotspot.daily-scrum
            .pulse
                %img.inner-info.daily-scrum-field.lazyload{:data-src => "{% static 'how_we_work/images/icon/info-icon'|add:extension %}", :alt => "Information Icon", :title => "Information Icon"}
                .show-tooltip
                    %span.hotspot-description.daily-scrum-description
                        %p.title
                            %strong Daily Scrum
                        Short 15-minutes team meeting to synchronize activities and create a plan for the next 24 hours. Each team member answers the following three questions: What did you do yesterday? What will you do today? Are there any impediments in your way?
        .hotspot.sprint-review
            .pulse
                %img.inner-info.sprint-review-field.lazyload{:data-src => "{% static 'how_we_work/images/icon/info-icon'|add:extension %}", :alt => "Information Icon", :title => "Information Icon"}
                .show-tooltip
                    %span.hotspot-description.sprint-review-description
                        %p.title
                            %strong Sprint Review / Demo
                        Sprint Review is held at the end of each sprint. During this meeting, the team shows an actual increment developed during the sprint. Typically this takes the form of a demonstration of the new features implemented.
        .hotspot.increment
            .pulse
                %img.inner-info.increment-field.lazyload{:data-src => "{% static 'how_we_work/images/icon/info-icon'|add:extension %}", :alt => "Information Icon", :title => "Information Icon"}
                .show-tooltip
                    %span.hotspot-description.increment-description
                        %p.title
                            %strong Increment
                        The Increment is the sum of all the items completed during a Sprint and the value of the increments of all previous Sprints. At the end of a Sprint, the new Increment must be in useable condition and be potentially releasable. The increment is a step toward a vision or goal.


        %img.scrum.lazyload{:data-src => "{% static 'how_we_work/images/agile'|add:extension %}", :alt => "Agile workflow", :title => "Agile workflow"}

.hotspot-mobile-devices.col-md-8.offset-md-1
    .scrum-metolody-container{:data-aos => "fade-up", :data-aos-anchor-placement => "top-bottom"}
        %img.hotspot-mobile.product-backlog-field.lazyload{:data-src => "{% static 'how_we_work/images/icon/info-icon'|add:extension %}", :alt => "Information Icon", :title => "Information Icon"}
        .tooltip-mobile
            %span.hotspot-description.product-backlog-description
                %p.title-mobile
                    %strong Product backlog
                It is a list of all things that need to be done within the project. The owner of the Product Backlog is the Product Owner. Product backlog is never complete – it evolves with the product itself and can be changed freely anytime during the development process when time & materials approach is taken.
    .scrum-metolody-container{:data-aos => "fade-up", :data-aos-anchor-placement => "top-bottom"}
        %img.hotspot-mobile.sprint-planning-field.lazyload{:data-src => "{% static 'how_we_work/images/icon/info-icon'|add:extension %}", :alt => "Information Icon", :title => "Information Icon"}
        .tooltip-mobile
            %span.hotspot-description.sprint-planning-description
                %p.title-mobile
                    %strong Sprint Planning
                Next features that need to be done are selected by you. Then, in the meeting, team has to answer the following question: “What can be delivered in the upcoming sprint?” and move predicted task into the Sprint Backlog.

    .scrum-metolody-container{:data-aos => "fade-up"}
        %img.hotspot-mobile.sprint-backlog-field.lazyload{:data-src => "{% static 'how_we_work/images/icon/info-icon'|add:extension %}", :alt => "Information Icon", :title => "Information Icon"}
        .tooltip-mobile
            %span.hotspot-description.sprint-backlog-description
                %p.title-mobile
                    %strong Sprint Backlog
                The Sprint Backlog is a list of Product Backlog tasks identified by the team to be completed during the Scrum sprint. During the sprint planning meeting, the team selects number of product backlog items and identifies the tasks necessary to meet the Sprint Goal.

    .scrum-metolody-container{:data-aos => "fade-up"}
        %img.hotspot-mobile.sprint-retrospective-field.lazyload{:data-src => "{% static 'how_we_work/images/icon/info-icon'|add:extension %}", :alt => "Information Icon", :title => "Information Icon"}
        .tooltip-mobile
            %span.hotspot-description.sprint-retrospective-description
                %p.title-mobile
                    %strong Sprint Retrospective
                In the Sprint Retrospective meeting the team focuses not on the software, but on improving the development process itself. This way it is always in line with changing conditions and different stages of a software life cycle.

    .scrum-metolody-container{:data-aos => "fade-up"}
        %img.hotspot-mobile.scrum-team-field.lazyload{:data-src => "{% static 'how_we_work/images/icon/info-icon'|add:extension %}", :alt => "Information Icon", :title => "Information Icon"}
        .tooltip-mobile
            %span.hotspot-description.scrum-team-description
                %p.title-mobile
                    %strong Scrum Team
                The Scrum Team consists of a Product Owner, the Development Team, and a Scrum Master. It’s self-organized in its own way to succesfully accomplish work instead of being directed from the outside. Scrum Team has all competencies needed to accomplish the work without depending on external resources. The team model in Scrum is designed to optimize flexibility, creativity, and productivity.

    .scrum-metolody-container{:data-aos => "fade-up"}
        %img.hotspot-mobile.daily-scrum-field.lazyload{:data-src => "{% static 'how_we_work/images/icon/info-icon'|add:extension %}", :alt => "Information Icon", :title => "Information Icon"}
        .tooltip-mobile
            %span.hotspot-description.daily-scrum-description
                %p.title-mobile
                    %strong Daily Scrum
                Short 15-minutes team meeting to synchronize activities and create a plan for the next 24 hours. Each team member answers the following three questions: What did you do yesterday? What will you do today? Are there any impediments in your way?

    .scrum-metolody-container{:data-aos => "fade-up"}
        %img.hotspot-mobile.sprint-review-field.lazyload{:data-src => "{% static 'how_we_work/images/icon/info-icon'|add:extension %}", :alt => "Information Icon", :title => "Information Icon"}
        .tooltip-mobile
            %span.hotspot-description.sprint-review-description
                %p.title-mobile
                    %strong Sprint Review / Demo
                Sprint Review is held at the end of each sprint. During this meeting, team shows an actual increment developed during the sprint. Typically this takes the form of a demonstration of the new features implemented.

    .scrum-metolody-container{:data-aos => "fade-up"}
        %img.hotspot-mobile.increment-field.lazyload{:data-src => "{% static 'how_we_work/images/icon/info-icon'|add:extension %}", :alt => "Information Icon", :title => "Information Icon"}
        .tooltip-mobile
            %span.hotspot-description.increment-description
                %p.title-mobile
                    %strong Increment
                The Increment is the sum of all the items completed during a Sprint and the value of the increments of all previous Sprints. At the end of a Sprint, the new Increment must be in useable condition and be potentially releasable. The increment is a step toward a vision or goal.
