{% load static %}

.col-sm-12.graph
    .row.title
        .col-3.left
            TIME AND MATERIAL
        .col-5
            .row
                .arrow-left
                .mid-line
                .arrow-right
        .col-3.right
            FIXED PRICE

    .row.graph-section.high-flexibility{:data-aos => "fade-in"}
        .col-3.left
            .small-container.high-flexibility-container
                .plus-div
                .inner-plus +
            .line.high-flexibility
                .description-container
                    %span.description
                        You're able to adjust the project's requirements to constantly changing business circumstances. Do you need some new functionalities or remove an existing one? No problem, let's do it!
        .col-5
            .div-title
                .inner-title.high-flexibility High flexibility
        .col-3.right

    .row.graph-section.predictability{:data-aos => "fade-in"}
        .col-3.left
        .col-5
            .div-title
                .inner-title.predictability
                    Predictability
        .col-3.right
            .line.predictability
                .description-container
                    %span
                        With clear requirements and set deadlines, there are almost no suprises. It's easy to predict if the work will be completed on time.
            .small-container.predictability-container
                .plus-div
                .inner-plus +

    .row.graph-section.dynamic-work-scope{:data-aos => "fade-in"}
        .col-3.left
            .small-container.dynamic-work-scope-container
                .plus-div
                .inner-plus +
            .line.dynamic-work-scope
                .description-container
                    %span.description
                        In most cases it is better to make decisions in the process, evolving a strategy and building custom software simultaneously.
        .col-5
            .div-title
                .inner-title.dynamic-work-scope Dynamic work scope
        .col-3.right

    .row.graph-section.precise-final-cost{:data-aos => "fade-in"}
        .col-3.left
        .col-5
            .div-title
                .inner-title.precise-final-cost
                    Precise final cost
        .col-3.right
            .line.precise-final-cost
                .description-container
                    %span
                        You will know exactly how much time and money the project development requires before the work starts.
            .small-container.precise-final-cost-container
                .plus-div
                .inner-plus +

    .row.graph-section.instant-start{:data-aos => "fade-in"}
        .col-3.left
            .small-container.instant-start-container
                .plus-div
                .inner-plus +
            .line.instant-start
                .description-container
                    %span.description
                        We don't need  a highly detailed project description. All we need to know at the beginning is only some basic features. New features will be added during the next sprints.
        .col-5
            .div-title
                .inner-title.instant-start Instant start
        .col-3.right

    .row.graph-section.strict-deadlines{:data-aos => "fade-in"}
        .col-3.left
        .col-5
            .div-title
                .inner-title.strict-deadlines
                    Strict deadlines
        .col-3.right
            .line.strict-deadlines
                .description-container
                    %span
                        When you decide what features your project needs, developers can come up with a clean plan and defined deadlines.
            .small-container.strict-deadlines-container
                .plus-div
                .inner-plus +

    .row.graph-section.cost-transparency{:data-aos => "fade-in"}
        .col-3.left
            .small-container.cost-transparency-container
                .plus-div
                .inner-plus +
            .line.cost-transparency
                .description-container
                    %span.description
                        You pay for the number of hours actually worked, based on their hourly rate. This model allows you to monitor progress and know exactly where the team is at any point.
        .col-5
            .div-title
                .inner-title.cost-transparency Cost transparency
        .col-3.right

    .row.graph-section.little-client-involvement{:data-aos => "fade-in"}
        .col-3.left
        .col-5
            .div-title
                .inner-title.little-client-involvement
                    Little client involvement

        .col-3.right
            .line.little-client-involvement
                .description-container
                    %span
                        You will know exactly how much time and money the project development requires before the works starts.
            .small-container.little-client-involvement-container
                .plus-div
                .inner-plus +

    .row.graph-section.high-product-quality{:data-aos => "fade-in"}
        .col-3.left
            .small-container.high-product-quality-container
                .plus-div
                .inner-plus +
            .line.high-product-quality
                .description-container
                    %span.description
                        Product is well-tested and brought to its best thanks to multiple iterations which result in a high-quality product.
        .col-5
            .div-title
                .inner-title.high-product-quality High product quality
        .col-3.right

    .row.graph-section.less-control{:data-aos => "fade-in"}
        .col-3.left
        .col-5
            .div-title
                .inner-title.less-control
                    Less control
        .col-3.right
            .line.less-control
                .description-container
                    %span
                        You won't be able to control the development process and easily follow the progress made in your project.
            .small-container.less-control-container
                .minus-div
                .inner-minus
                    %img.minus-img.lazyload{:data-src => "{% static 'how_we_work/images/icon/minus.png' %}", :alt => "Minus icon", :title => "Minus icon"}

    .row.graph-section.low-budget-control{:data-aos => "fade-in"}
        .col-3.left
            .small-container.low-budget-control-container
                .minus-div
                .inner-minus
                    %img.minus-img.lazyload{:data-src => "{% static 'how_we_work/images/icon/minus.png' %}", :alt => "Minus icon", :title => "Minus icon"}
            .line.low-budget-control
                .description-container
                    %span.description
                        The overall cost can go far beyond the expected budget. This contract type requires a great deal of your attention.
        .col-5
            .div-title
                .inner-title.low-budget-control Low budget control
        .col-3.right

    .row.graph-section.less-flexibility{:data-aos => "fade-in"}
        .col-3.left
        .col-5
            .div-title
                .inner-title.less-flexibility
                    Less flexibility
        .col-3.right
            .line.less-flexibility
                .description-container
                    %span
                        Any change during the development requires additional planning and renegotiation. In consequence, it will take more time and increase the overall cost.
            .small-container.less-flexibility-container
                .minus-div
                .inner-minus
                    %img.minus-img.lazyload{:data-src => "{% static 'how_we_work/images/icon/minus.png' %}", :alt => "Minus icon", :title => "Minus icon"}

    .row.graph-section.long-meticulous-planning{:data-aos => "fade-in"}
        .col-3.left
            .small-container.long-meticulous-planning-container
                .minus-div
                .inner-minus
                    %img.minus-img.lazyload{:data-src => "{% static 'how_we_work/images/icon/minus.png' %}", :alt => "Minus icon", :title => "Minus icon"}
            .line.long-meticulous-planning
                .description-container
                    %span.description
                        Product is well-tested and brought to its best thanks to multiple iterations which result in a high-quality product.
        .col-5
            .div-title
                .inner-title.long-meticulous-planning
                    Long and meticulous planning
        .col-3.right
