{% load static %}

.col-sm-12.graph
    .row.title
        .col-3.left
            TIME AND MATERIAL
        .col-5
            .row
                .arrow-left
                .mid-line
                .arrow-right
        .col-3.right
            FIXED PRICE

    .row.graph-section.high-flexibility{:data-aos => "fade-in"}
        .col-3.left
            .small-container.high-flexibility-container
                .plus-div
                .inner-plus +
            .line.high-flexibility
                .description-container
                    %span.description
                        Adjusting the project's requirements to constantly changing business circumstances.
        .col-5
            .div-title
                .inner-title.high-flexibility High flexibility
        .col-3.right

    .row.graph-section.predictability{:data-aos => "fade-in"}
        .col-3.left
        .col-5
            .div-title
                .inner-title.predictability
                    Predictability
        .col-3.right
            .line.predictability
                .description-container
                    %span
                        Little to no surprises thanks to clear requirements and set deadlines.
            .small-container.predictability-container
                .plus-div
                .inner-plus +

    .row.graph-section.cost-transparency{:data-aos => "fade-in"}
        .col-3.left
            .small-container.cost-transparency-container
                .plus-div
                .inner-plus +
            .line.cost-transparency
                .description-container
                    %span.description
                        Actual working hours visible to show where the team is at any point.
        .col-5
            .div-title
                .inner-title.cost-transparency Cost transparency
        .col-3.right

    .row.graph-section.precise-final-cost{:data-aos => "fade-in"}
        .col-3.left
        .col-5
            .div-title
                .inner-title.precise-final-cost
                    Precise final cost
        .col-3.right
            .line.precise-final-cost
                .description-container
                    %span
                        Clarity of the cost and timeline of the project before it starts.
            .small-container.precise-final-cost-container
                .plus-div
                .inner-plus +

    .row.graph-section.instant-start{:data-aos => "fade-in"}
        .col-3.left
            .small-container.instant-start-container
                .plus-div
                .inner-plus +
            .line.instant-start
                .description-container
                    %span.description
                        No need to agonize over every detail since the project can evolve as it progresses.
        .col-5
            .div-title
                .inner-title.instant-start Instant start
        .col-3.right

    .row.graph-section.less-flexibility{:data-aos => "fade-in"}
        .col-3.left
        .col-5
            .div-title
                .inner-title.less-flexibility
                    Less flexibility
        .col-3.right
            .line.less-flexibility
                .description-container
                    %span
                        Any changes during the process require renegotiations, additional time and costs.
            .small-container.less-flexibility-container
                .minus-div
                .inner-minus
                    %img.minus-img.lazyload{:data-src => "{% static 'how_we_work/images/icon/minus.png' %}", :alt => "Minus icon", :title => "Minus icon"}

    .row.graph-section.low-budget-control{:data-aos => "fade-in"}
        .col-3.left
            .small-container.low-budget-control-container
                .minus-div
                .inner-minus
                    %img.minus-img.lazyload{:data-src => "{% static 'how_we_work/images/icon/minus.png' %}", :alt => "Minus icon", :title => "Minus icon"}
            .line.low-budget-control
                .description-container
                    %span.description
                        Easy to exceed the budget if the cooperation isn’t tight enough.
        .col-5
            .div-title
                .inner-title.low-budget-control Low budget control
        .col-3.right

    .row.graph-section.less-control{:data-aos => "fade-in"}
        .col-3.left
        .col-5
            .div-title
                .inner-title.less-control
                    Less control
        .col-3.right
            .line.less-control
                .description-container
                    %span
                        Little transparency of the development process.
            .small-container.less-control-container
                .minus-div
                .inner-minus
                    %img.minus-img.lazyload{:data-src => "{% static 'how_we_work/images/icon/minus.png' %}", :alt => "Minus icon", :title => "Minus icon"}
