@import "../common/partials/_constants.sass"
@import "../common/partials/section_header"

body
    text-indent: 0
    margin: 0 0
    line-height: unset
    font-family: "Open Sans", sans-serif

    .employees-intruduction-header-section
        .section-header
            margin-top: 5vw
            margin-bottom: 3vw
            min-height: unset
            background: $section-header-yellow-color
            .content-wrapper
                .section-description-contents
                    display: block
                    min-height: 6rem
                    .section-description-bar
                        background: $blue-color
                        top: unset
                        bottom: calc(#{$section-description-content-height} + #{$section-description-text-offset} - #{$section-description-total-height})
                    .section-description-text
                        margin-left: calc(18px + 1.5vw)
                        .title
                            color: $blue-color
                            font-size: 3.6rem

    .employees-intruduction
        max-width: $about-us-page-width
        margin: $separation-margin-between-introductions-in-vw auto $default-padding-in-px auto

        @media only screen and (min-width: $about-us-page-width)
            margin: $separation-margin-between-introductions-in-px auto $default-padding-in-px auto

        .text-div
            text-align: center
            font-size: 3.5vw
            font-weight: 700
            color: $blue

            @media only screen and (min-width: $about-us-page-width)
                font-size: 44px

        .bosses-images
            text-align: center
            width: 100%

            .boss-name
                padding-top: 7px
                font-size: 30px

            .boss-position
                font-size: 15px
                color: #11202A
                width: 267px
                overflow: hidden
                height: 20px
                line-height: 20px

        .employee
            height: 368px
            width: 200px

        .person
            display: inline-block
            margin: 25px 15px
            position: relative

        .boss
            height: 468px
            width: 267px

            @media only screen and (max-width: 714px)
                margin: 25px

        .front-image:hover
            opacity: 0

        .back-image:hover
            opacity: 1

        .front-image
            opacity: 1
            transition: opacity 0.4s cubic-bezier(.84,.12,1,.79)

        .back-image
            top: 0
            left: 0
            position: absolute
            opacity: 0
            transition: opacity 0.2s cubic-bezier(.84,.12,1,.79)

        .employees-images
            margin: auto
            text-align: center

            .employee-name
                padding-top: 7px
                font-size: 30px
                color: #3D4952

            .employee-position
                width: 200px
                overflow: hidden
                height: 20px
                line-height: 20px
                font-size: 15px
                color: #3D4952
