{% block title %}{% endblock %}
{% block meta_tags %}{% endblock %}
{% block properties %}{% endblock %}

{% include "common_partials/head.haml" %}
{% load google_analytics_tags %}
{% load pipeline %}
{% stylesheet 'common' %}
.google-analytics
    %img.google-analytics-image{:src => "{% google_analytics %}"}

{% block extra_head %}
{% endblock %}

.overlay
{% include "common_partials/menu.haml" %}

{% block content %}
{% endblock %}

{% include "common_partials/footer.haml" %}

{% include "common_partials/scripts.haml" %}

{% block extra_script %}
{% endblock %}
