{% include "common_partials/head.haml" %}
{% load pipeline %}
{% stylesheet 'common' %}

.overlay
{% include "common_partials/menu.haml" %}
{% include "common_partials/scripts.haml" %}

{% block content %}
{% endblock %}

{% include "common_partials/footer.haml" %}
