<!doctype html>

%html{:lang=>"en-US", :prefix=>"og: https://ogp.me/ns#"}

    %head
        {% block title %}{% endblock %}
        {% block meta_tags %}{% endblock %}
        {% block properties %}{% endblock %}

        {% include "common_partials/head.haml" %}
        {% load google_analytics_tags %}
        {% load pipeline %}
        {% stylesheet 'common' %}

        {% block extra_head %}
        {% endblock %}

    %body
        .google-analytics
            %img.google-analytics-image{:src => "{% google_analytics %}", :alt => "Google Analytics"}
        .overlay

        .project-highlight
            .project-highlight-background

        {% include "common_partials/menu.haml" %}

        {% block content %}
        {% endblock %}

        {% include "common_partials/footer.haml" %}
        {% include "common_partials/scripts.haml" %}

        {% block extra_script %}
        {% endblock %}
