{% extends "base.haml" %}
{% block title %}
    %title {{ title }}
{% endblock %}
{% block meta_tags %}
    %meta{:name => "description", :content => "{{ meta_description }}"}
    %meta{:name => "keywords", :content => "{{ keywords }}"}
{% endblock %}
{% load pipeline %}

{% block extra_head %}
    {% stylesheet 'estimate_project' %}
    {% javascript 'estimate_project_head' %}
{% endblock %}

{% block content %}
    {% include "estimate_project/estimate_project_form.haml" %}
{% endblock %}

{% block extra_script %}
    {% javascript 'estimate_project' %}
{% endblock %}
