%title Code Poets - Software Development Company | Wrocław, Poland
{% include "common_partials/head.haml" %}
{% load pipeline %}
{% stylesheet 'common' %}
{% stylesheet 'estimate_project' %}

.overlay

{% include "common_partials/menu.haml" %}

{% include "common_partials/section_header.haml" with title="Estimate your project." subtext="﻿Please fill out this simple form.</br>﻿We will contact you soon to discuss your project and next steps." %}





{% include "estimate_project/estimate_project_form.haml" %}

{% include "common_partials/footer.haml" %}


{% include "common_partials/scripts.haml" %}

{% javascript 'estimate_project' %}




