{% extends "base.haml" %}
{% block title %}Code Poets - Software Development Company | Wrocław, Poland{% endblock %}
{% load pipeline %}

{% block extra_head %}
{% stylesheet 'common' %}
{% stylesheet 'how_we_work' %}
{% endblock %}

{% block content %}
{% include "how_we_work_partials/how_we_work_partial.haml" %}
{% endblock %}

{% block extra_script %}
{% javascript 'how_we_work' %}
{% endblock %}
