{% extends "base.haml" %}
{% block title %}
    %title {{ title }}
{% endblock %}
{% block meta_tags %}
    %meta{:name => "description", :content => "{{ meta_description }}"}
    %meta{:name => "keywords", :content => "{{ keywords }}"}
{% endblock %}
{% load pipeline %}

{% block extra_head %}
    {% stylesheet 'main' %}
    {% include "main_page_partials/head.haml" %}
{% endblock %}

{% block content %}
    {% include "main_page_partials/main_screen.haml" %}
    {% include "main_page_partials/technologies.haml" %}
    {% include "main_page_partials/services.haml" %}
    {% include "main_page_partials/industry_focus.haml" %}
    {% include "main_page_partials/portfolio.haml" %}
    {% include "main_page_partials/about_us.haml" %}
    {% include "main_page_partials/testimonials.haml" %}
    {% include "main_page_partials/clutch_award.haml" %}
    {% include "main_page_partials/ready_to_work_with_us.haml" %}
    {% include "main_page_partials/map_navigator.haml" %}
{% endblock %}

{% block extra_script %}
    {% include "main_page_partials/scripts.haml" %}
    {% javascript 'main' %}
    %script{:async => "",
        :defer => "",
        :src => "https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap"}

{% endblock %}

