{% include "main_page/head.haml" %}

{% load pipeline %}
{% load static %}
{% stylesheet 'main' %}


.content-page
{% include "main_page/menu.haml" %}

{% include "main_page/main_screen.haml" %}
{% include "main_page/technologies.haml" %}
{% include "main_page/services.haml" %}

{% include "main_page/scripts.haml" %}
