{% include "common_partials/head.haml" %}
{% load pipeline %}
{% stylesheet 'main' %}
{% stylesheet 'common' %}

.overlay

{% include "common_partials/menu.haml" %}
{% include "main_page/main_screen.haml" %}
{% include "main_page/technologies.haml" %}
{% include "main_page/services.haml" %}
{% include "main_page/portfolio.haml" %}
{% include "main_page/about_us.haml" %}
{% include "main_page/testimonials.haml" %}
{% include "main_page/ready_to_work_with_us.haml" %}
{% include "main_page/map_navigator.haml" %}
{% include "common_partials/footer.haml" %}

{% include "common_partials/scripts.haml" %}

{% javascript 'main' %}
