{% extends "base.haml" %}
{% block title %}Code Poets - Software Development Company | Wrocław, Poland{% endblock %}
{% load pipeline %}

{% block content %}
    {% stylesheet 'privacy_and_policy' %}
    {% include 'privacy_and_policy_partials/privacy_and_policy.haml' %}
{% endblock %}
