{% extends "base.haml" %}
{% load pipeline %}

{% block content %}
    {% stylesheet 'css_reset' %}
    {% stylesheet 'team_introduction' %}
    {% include "team_introduction_page_partials/company_introduction.haml" %}
    {% include "team_introduction_page_partials/employees_introduction.haml" %}
    %script{:crossorigin => "anonymous",
        :integrity => "sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=",
        :src => "https://code.jquery.com/jquery-3.4.1.slim.min.js"}
    {% javascript 'team_introduction' %}
{% endblock %}
