{% extends "base.haml" %}
{% load pipeline %}

{% block extra_head %}
    %script{:type => "text/javascript",
            :src => "https://code.jquery.com/jquery-3.4.1.js",
            :integrity => "sha384-mlceH9HlqLp7GMKHrj5Ara1+LvdTZVMx4S1U43/NxCvAkzIo8WJ0FE7duLel3wVo",
            :crossorigin => "anonymous"}
{% endblock %}

{% block content %}
    {% stylesheet 'css_reset' %}
    {% stylesheet 'team_introduction' %}
    {% include "team_introduction_page_partials/company_introduction.haml" %}
    {% include "team_introduction_page_partials/employees_introduction.haml" %}
    {% javascript 'team_introduction' %}
{% endblock %}
