{% extends "base.haml" %}
{% load pipeline %}

{% block content %}
    {% stylesheet 'css_reset' %}
    {% stylesheet 'team_introduction' %}
    {% include "team_introduction_page_partials/company_introduction.haml" %}
    {% include "team_introduction_page_partials/employees_introduction.haml" %}
    {% javascript 'team_introduction' %}
{% endblock %}
