{% load static %}
.perk
    %img.image.lazyload{:data-src => "{% static image %}", :alt => "{{ image_title }}", :title => "{{ image_title }}"}
    .name
        {{ name }}
    .benefit
        {{ benefit }}
