{% load static %}
{% load thumbnail %}
{% load static_path %}

.perks-and-benefits
    {% include "common_partials/section_header.haml" with title="Perks & Benefits" subtext="of working with Code Poets" %}
    %image.feather.lazyload{:data-src => "{% thumbnail 'career/images/feather_blue.png'|get_static_url '217x402' format='PNG' as im %} {{ im.url }} {% endthumbnail %}", :alt => "Blue Feather", :title => "Blue Feather"}
    .container
        .grid-content
            .row-odd
                .pair-odd
                    .cropped.item_1{:data-aos => "fade-up"}
                        %image.photo.lazyload{:data-src => "{% thumbnail 'career/images/photos/clock.jpg'|get_static_url '300x300' as im %} {{ im.url }} {% endthumbnail %}", :alt => "Clock wall", :title => "Clock wall"}
                    .space-item
                    .cropped.item_2{:data-aos => "fade-up"}
                        .border-orange
                            {% include "career_partials/perk.haml" with name="Flexible hours" benefit="Early bird or a night owl? Feel free to work when you are the most productive." image="career/images/time.png" image_title="Flexible hours" %}
                .space-pair
                .pair-even
                    .cropped.item_1{:data-aos => "fade-up"}
                        %image.photo.lazyload{:data-src => "{% thumbnail 'career/images/photos/health.jpg'|get_static_url '300x300' as im %} {{ im.url }} {% endthumbnail %}", :alt => "Healthy Joga", :title => "Healthy Joga"}
                    .space-item
                    .cropped.item_2{:data-aos => "fade-up"}
                        .border-blue
                            {% include "career_partials/perk.haml" with name="Private health care" benefit="We care about you! Stay healthy with our healthcare plan." image="career/images/health.png" image_title="Health Care" %}
            .space-row
            .row-even
                .pair-odd
                    .cropped.item_1{:data-aos => "fade-up"}
                        .border-blue
                            {% include "career_partials/perk.haml" with name="Remote working" benefit="Home, office or a sunny beach? For us it doesn't matter where you are but what you do." image="career/images/home.png" image_title="Remote Work" %}
                    .space-item
                    .cropped.item_2{:data-aos => "fade-up"}
                        %image.photo.lazyload{:data-src => "{% thumbnail 'career/images/photos/remote.jpg'|get_static_url '300x300' as im %} {{ im.url }} {% endthumbnail %}", :alt => "Remote Working", :title => "Remote Working"}
                .space-pair
                .pair-even
                    .cropped.item_1{:data-aos => "fade-up"}
                        .border-orange
                            {% include "career_partials/perk.haml" with name="Language lessons" benefit="Improve your English with our native speaker teachers." image="career/images/language.png" image_title="Language Lessons" %}
                    .space-item
                    .cropped.item_2{:data-aos => "fade-up"}
                        %image.photo.lazyload{:data-src => "{% thumbnail 'career/images/photos/lessons.jpg'|get_static_url '300x300' as im %} {{ im.url }} {% endthumbnail %}", :alt => "English classes", :title => "English classes"}
            .space-row
            .row-odd
                .pair-odd
                    .cropped.item_1{:data-aos => "fade-up"}
                        %image.photo.lazyload{:data-src => "{% thumbnail 'career/images/photos/sport.jpg'|get_static_url '300x300' as im %} {{ im.url }} {% endthumbnail %}", :alt => "Sporting life", :title => "Sporting life"}
                    .space-item
                    .cropped.item_2{:data-aos => "fade-up"}
                        .border-orange
                            {% include "career_partials/perk.haml" with name="Multisport" benefit="Stay fit! Enjoy the benefits of more than 4000 sport facilities in Poland." image="career/images/gym.png" image_title="Multisport card" %}
                .space-pair
                .pair-even
                    .cropped.item_1{:data-aos => "fade-up"}
                        %image.photo.lazyload{:data-src => "{% thumbnail 'career/images/photos/office.jpg'|get_static_url '300x300' as im %} {{ im.url }} {% endthumbnail %}", :alt => "Pleasant Office", :title => "Pleasant Office"}
                    .space-item
                    .cropped.item_2{:data-aos => "fade-up"}
                        .border-blue
                            {% include "career_partials/perk.haml" with name="Office" benefit="Enjoy office in the city center, complete with a playroom, coffee station, bike parking and more." image="career/images/office.png" image_title="Great office" %}
            .space-row
            .row-even
                .pair-odd
                    .cropped.item_1{:data-aos => "fade-up"}
                        .border-orange
                            {% include "career_partials/perk.haml" with name="Lunch & Learn" benefit="Internal weekly trainings connected with delicious food." image="career/images/lunch.png" image_title="Weekly lunches" %}
                    .space-item
                    .cropped.item_2{:data-aos => "fade-up"}
                        %image.photo.lazyload{:data-src => "{% thumbnail 'career/images/photos/techtalk.jpg'|get_static_url '300x300' as im %} {{ im.url }} {% endthumbnail %}", :alt => "Weekly tech-talks", :title => "Weekly tech-talks"}
                .space-pair
                .pair-even
                    .cropped.item_1{:data-aos => "fade-up"}
                        .border-blue
                            {% include "career_partials/perk.haml" with name="Growth budget" benefit="We give you an opportunity to expand your knowledge - pick your conference or training." image="career/images/growth.png" image_title="Self Development" %}
                    .space-item
                    .cropped.item_2{:data-aos => "fade-up"}
                        %image.photo.lazyload{:data-src => "{% thumbnail 'career/images/photos/conference.jpg'|get_static_url '300x300' as im %} {{ im.url }} {% endthumbnail %}", :alt => "PyCon Conference", :title => "PyCon Conference"}
