@import "../../../company_website/static/common/partials/set_initials"
@import "../../../company_website/static/common/partials/constants"

.blog_menu
    margin-top: 61px
    .outer-row
        background: $blue
        height: 49px
        position: relative

    a
        color: white
        font-size: 13px
    .row
        padding: 15px
        margin: 0
        text-align: center
        justify-content: center

    .category
        padding: 0 8px
    .border-div
        border-right: 1px solid white

