.container.go-to-brand-project
    %h1.header.project-title
        Promocja usług CODE POETS na rynkach zagranicznych poprzez udział w programie branżowym IT/ICT
    %p.project-name.description
        Program Operacyjny Inteligentny Rozwój
        %br
        Działanie 3.3 Wsparcie promocji oraz internacjonalizacji innowacyjnych przedsiębiorstw
        %br
        Poddziałanie 3.3.3 Wsparcie MŚP w promocji marek produktowych - Go to Brand
    .header
        Cele projektu
    %p.description
        Celem Projektu jest wypromowanie oferty firmy, tj. usług w zakresie tworzenia dedykowanego oprogramowania pod marką CODE POETS, poprzez realizację działań promocyjnych, dzięki którym zwiększona zostanie skala prowadzonej przez Spółkę działalności eksportowej i osiągnięte zostaną bezpośrednie rezultaty ilościowe.
    .header
        Planowane efekty
    %ul.description
        %li skuteczne zbudowanie pozytywnego wizerunku oferty eksportowej Spółki w skali międzynarodowej
        %li nawiązanie współpracy z zagranicznymi strategicznymi partnerami handlowymi
        %li pozyskanie nowych zagranicznych kontaktów handlowych z potencjałem ich efektywnego wykorzystania w długim okresie
    .header
        Numer projektu
    %p.description
        POIR.03.03.03-02-0120/20
    .header
        Wartość projektu
    .description.last-description
        159 400.00 PLN
