{% load static %}

%img.feather.feather-yellow.lazyload{:data-src=> "{% static 'main_page/images/background/feather_yellow.png' %}", :alt => "Code Poets feather background"}
.container.about-us-container
    .row
        .col-md-12.text-center.section-title
            %h1.title ABOUT US
    .row.about-us-row
        .col-lg-6.about-us-col
            %a{:href => "#"}
                .about-us-box{:data-aos => "fade-up"}
                    .about-us-image-box
                        %img.about-us-image.img-bottom.lazyload{:data-src => "{% static 'main_page/images/about_code_poets/about_us.jpg' %}", :alt => "About Codepoets"}
                    %h3.description Team

        .col-lg-6.about-us-col
            %a{:href => "#"}
                .how-we-work-box{:data-aos => "fade-up"}
                    .about-us-image-box
                        %img.about-us-image.img-top.lazyload{:data-src => "{% static 'main_page/images/about_code_poets/how_we_work.jpg' %}", :alt => "How we work in Codepoets"}
                    %h3.description How we work
    .row.row-line
        .hr-line
