{% load static %}
{% load variable_tag %}

{% if request.user_agent.browser.family|is_webp_supported %}
    {% define_variable ".webp" as extension %}
{% else %}
    {% define_variable ".png" as extension %}
{% endif %}

.clutch-container{:data-aos => "fade-up"}
    .container.row
        .left-container
        %img.lazyload.clutch-image{:data-src => "{% static 'main_page/images/main_screen/clutch-2020_400x432'|add:extension %}"}
        .right-container
            .clutch-text-container
                .clutch-text We would like to
                    %b.orange-text proudly
                    announce <br>that we have been
                    %b.orange-text awarded
                    by Clutch!
            .see-our-reviews-container
                .see-our-reviews-text See our reviews
                    %a.link-to-clutch{:href => "https://clutch.co/profile/code-poets"} here
                .clutch-stars
                    %img.lazyload.clutch-star{:data-src => "{% static 'main_page/images/about_code_poets/clutch_star_full'|add:extension %}"}
                    %img.lazyload.clutch-star{:data-src => "{% static 'main_page/images/about_code_poets/clutch_star_full'|add:extension %}"}
                    %img.lazyload.clutch-star{:data-src => "{% static 'main_page/images/about_code_poets/clutch_star_full'|add:extension %}"}
                    %img.lazyload.clutch-star{:data-src => "{% static 'main_page/images/about_code_poets/clutch_star_full'|add:extension %}"}
                    %img.lazyload.clutch-star{:data-src => "{% static 'main_page/images/about_code_poets/clutch_star_full'|add:extension %}"}
