{% load static %}
{% load variable_tag %}

{% if request.user_agent.browser.family|is_webp_supported %}
    {% define_variable ".webp" as extension %}
{% else %}
    {% define_variable ".png" as extension %}
{% endif %}

.clutch-container{:data-aos => "fade-up"}
    .container.row
        .left-container
        %img.lazyload.clutch-image{:alt => "Clutch award &#39;Top Software Developers in Poland&#39; for 2020", :data-src => "{% static 'main_page/images/main_screen/clutch-2020_400x432'|add:extension %}"}
        .right-container
            .clutch-text-container
                .clutch-text See our Clients’ reviews on
                    %a.orange-text{:href => "https://clutch.co/profile/code-poets"} Clutch
