%link{:rel => "stylesheet",
        :type => "text/css",
        :href => "https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css",
        :integrity => "sha384-kcNNzf7wI8//ZkNUaDd5JwxLoFaBgkj9Z4O4NwtuX9Lkmsz0HoITOxJsGkYxDuyG",
        :crossorigin => "anonymous"}

%link{:rel => "stylesheet",
        :type => "text/css",
        :href => "https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        :integrity => "sha384-8/AzSKHReNfZT4HGFTyRyJ1jXhhx/ZMnmX08Cy6TeaKWj0Vzho0AabG06C8mh02i",
        :crossorigin => "anonymous"}

%link{:rel => "stylesheet",
        :href => "https://calendly.com/assets/external/widget.css",
        :integrity => "sha384-V9gjSPkWSs2O3WsdNQuecOLnGTWvycfcRDd80uvscZQecL1ownH8snp4jzFW4D/6",
        :crossorigin => "anonymous"}
