{% load static %}
{% load variable_tag %}

{% if request.user_agent.browser.family|is_webp_supported %}
    {% define_variable ".webp" as logo_extension %}
    {% define_variable ".webp" as main_page_extension %}
{% else %}
    {% define_variable ".png" as logo_extension %}
    {% define_variable ".jpg" as main_page_extension %}
{% endif %}

.container-fluid.px-0.main-screen{:id => "home"}
    #content.jumbo.d-flex
        %img.background-img.lazyload{:alt => "Code Poets logo", :data-src => "{% static 'main_page/images/main_screen/slide'|add:main_page_extension %}", :src => "{% static 'main_page/images/main_screen/slide_placeholder'|add:main_page_extension %}", :data-srcset => "{% static 'main_page/images/main_screen/slide_500x1248'|add:main_page_extension %} 500w, {% static 'main_page/images/main_screen/slide_850x1248'|add:main_page_extension %} 850w, {% static 'main_page/images/main_screen/slide'|add:main_page_extension %} 1200w", :srcset => "{% static 'main_page/images/main_screen/slide_500x1248_placeholder'|add:main_page_extension %} 500w, {% static 'main_page/images/main_screen/slide_850x1248_placeholder'|add:main_page_extension %} 850w, {% static 'main_page/images/main_screen/slide_placeholder'|add:main_page_extension %} 1200w"}
        .container-fluid
            .text-box-blue
                %span.main-screen-text Code Poetry is a thing
            .text-box-orange
                %span.main-screen-text Let’s translate your ideas into software
        .container
            %a{:href => "https://clutch.co/profile/code-poets"}
                .clutch-container
                    %img.clutch-reward{:alt => "Code Poets profile on Clutch", :src => "{% static 'main_page/images/main_screen/clutch-2020_400x432'|add:logo_extension %}"}
                    %img.clutch-reward{:alt => "Code Poets profile on Clutch", :src => "{% static 'main_page/images/main_screen/clutch-2019_400x432'|add:logo_extension %}"}

    .container.parp-logos-container
        .row.parp-logo
            .col.flex-wrapp.justify-content-center.nopadding{:data-aos => "zoom-in"}
                %img.logo-img.lazyload{:alt => "", :src => "{% static 'main_page/images/main_screen/european_funds'|add:logo_extension %}"}
                %img.logo-img.lazyload{:alt => "", :src => "{% static 'main_page/images/main_screen/republic_of_poland'|add:logo_extension %}"}
                %img.logo-img.lazyload{:alt => "", :src => "{% static 'main_page/images/main_screen/european_union'|add:logo_extension %}"}
