{% load static %}

.container-fluid.px-0.main-screen{:id => "home"}
    #content.jumbo.d-flex
        .mobile-logo
            %img.codepoets-mobile.lazyload{:alt => "Codepoets logo", :data-src => "{% static 'common/images/menu/code_poets_logo_menu_white.png' %}"}
        %img.background-img.lazyload{:alt => "Codepoets software", :data-src => "{% static 'main_page/images/main_screen/slide.jpg' %}"}
        .container-fluid
            .text-box-blue
                %span.main-screen-text WE CREATE CHEMISTRY SOFTWARE
            .text-box-orange
                %span.main-screen-text We are a software development company from Poland, Europe.
    %img.lazyload.clutch-reward{:alt => "Clutch reward", :data-src => "{% static 'main_page/images/main_screen/clutch.png' %}"}
