{% load static %}

.container-fluid.px-0.main-screen{:id => "home"}
    #content.jumbo.d-flex
        %img.background-img.lazyload{:alt => "Codepoets software", :title => "Codepoets software", :data-src => "{% static 'main_page/images/main_screen/slide.jpg' %}", :data-srcset => "{% static 'main_page/images/main_screen/slide_500x1248.jpg' %} 500w, {% static 'main_page/images/main_screen/slide_850x1248.jpg' %} 850w, {% static 'main_page/images/main_screen/slide.jpg' %} 1200w"}
        .container-fluid
            .text-box-blue
                %span.main-screen-text Code Poetry is a thing
            .text-box-orange
                %span.main-screen-text Let’s translate your ideas into software
    %img.lazyload.clutch-reward{:alt => "Clutch reward 2019", :title => "Clutch reward 2019", :data-src => "{% static 'main_page/images/main_screen/clutch-2019.png' %}"}
