{% load static %}
{% load thumbnail %}
{% load static_path %}

%img.feather.lazyload{:data-src => "{% thumbnail 'main_page/images/background/feather_red_pale.png'|get_static_url '269x754' format='PNG' as im %} {{ im.url }} {% endthumbnail %}", :alt => "Code Poets feather background", :title => "Code Poets feather background"}
.container.portfolio-container{:id => "project"}
    .row
        {% include "main_page_partials/section_separator.haml" %}
    .row.portfolio.title
        .col-md-12.text-center.section-title
            %h1.section PROJECTS
    .row.portfolio
        .col-md-12.col-lg-6.custom-paddings{:data-aos => "fade-up", :data-aos-offset => "-200"}
            %a{:href => "https://www.sigmaaldrich.com/chemistry/chemical-synthesis/synthesis-software.html"}
                .project-box.project-merck-box
                    %img.merck-left-background.lazyload{:data-src => "{% thumbnail 'main_page/images/projects/merck/merck_background_part_left.png'|get_static_url '566x288' format='PNG' as im %} {{ im.url }} {% endthumbnail %}", :alt => "Merck background", :title => "Merck background"}
                    %img.merck-background-mobile.lazyload{:data-src => "{% thumbnail 'main_page/images/projects/merck/merck_background_mobile.png'|get_static_url '278x384' format='PNG' as im %} {{ im.url }} {% endthumbnail %}", :alt => "Merck background mobile", :title => "Merck background mobile"}
                    %img.merck-bottom-background.lazyload{:data-src => "{% thumbnail 'main_page/images/projects/merck/merck_background_part_bottom.png'|get_static_url '227x56' format='PNG' as im %} {{ im.url }} {% endthumbnail %}", :alt => "Merck background", :title => "Merck background"}

                    .project-box-desc.project-merck-box-desc.justify-content-end
                        %img.logo-merck.lazyload{:data-src => "{% thumbnail 'main_page/images/projects/merck/merck_logo.png'|get_static_url '202x32' format='PNG' as im %} {{ im.url }} {% endthumbnail %}", :alt => "Merck logo", :title => "Merck logo"}
                        %h5.project-name SYNTHIA™
                        %p.description.text-merck Retrosynthesis software allowing to analyze tens of thousands of pathways for known and novel molecules against your search criteria and quickly go from imagining what’s possible to testing what’s probable.
        .col-md-12.col-lg-6.custom-paddings{:data-aos => "fade-up", :data-aos-offset => "-200"}
            %a{:href => "https://golem.network/"}
                .project-box.project-golem-box
                    %img.golem-background.lazyload{:data-src => "{% thumbnail 'main_page/images/projects/golem/golem_background_part.png'|get_static_url '249x288' format='PNG' as im %} {{ im.url }} {% endthumbnail %}", :alt => "Golem bakground", :title => "Golem bakground"}
                    %img.golem-background-mobile.lazyload{:data-src => "{% thumbnail 'main_page/images/projects/golem/golem_background_full.png'|get_static_url '278x156' format='PNG' as im %} {{ im.url }} {% endthumbnail %}", :alt => "Golem bakground mobile", :title => "Golem bakground mobile"}
                    .project-box-desc.project-golem-box-desc.justify-content-end
                        %img.logo-golem.lazyload{:data-src => "{% thumbnail 'main_page/images/projects/golem/golem_logo.png'|get_static_url '280x114' format='PNG' as im %} {{ im.url }} {% endthumbnail %}", :alt => "Golem logo", :title => "Golem logo"}
                        %h5.project-name CONCENT
                        %p.description.text-golem Network reliability service for Golem – open source, decentralized supercomputer used for a wide variety of tasks, from CGI rendering, through machine learning to scientific computing.
    .row.portfolio.mobile-hidden-projects
        .col-md-12.col-lg.custom-paddings{:data-aos => "fade-up", :data-aos-offset => "-200"}
            %a{:href => "http://polishlody.com"}
                .project-box.project-polish-lody-box.justify-content-center
                    %img.polish-lody-background.lazyload{:data-src => "{% thumbnail 'main_page/images/projects/polish_lody/polish_lody_background.png'|get_static_url '513x400' format='PNG' as im %} {{ im.url }} {% endthumbnail %}", :alt => "Polish Lody background", :title => "Polish Lody background"}
                    .project-polish-lody-box-desc
                        %img.logo-polish-lody.lazyload{:data-src => "{% thumbnail 'main_page/images/projects/polish_lody/polish_lody_logo.png'|get_static_url '200x200' format='PNG' as im %} {{ im.url }} {% endthumbnail %}", :alt => "Polish Lody logo", :title => "Polish Lody logo"}
                        %h5.project-name WEB DEVELOPMENT
                        %p.description.text-polish-lody Custom HRMS web application: administration, payroll, employee self-service, time & HR management.
        .col-md-12.col-lg-5.custom-paddings{:data-aos => "fade-up", :data-aos-offset => "-200"}
            %a{:href => "https://rubinanders.com/"}
                .project-box.project-rubin-box.justify-content-center
                    %img.rubin-anders-background.lazyload{:data-src => "{% thumbnail 'main_page/images/projects/rubin_anders/rubin_anders_background.png'|get_static_url '513x400' format='PNG' as im %} {{ im.url }} {% endthumbnail %}", :alt => "Rubin Anders background", :title => "Rubin Anders background"}
                    .project-rubin-box-desc
                        %img.logo-rubin.lazyload{:data-src => "{% thumbnail 'main_page/images/projects/rubin_anders/rubin_anders_logo_white_stripe.png'|get_static_url '513x400' format='PNG' as im %} {{ im.url }} {% endthumbnail %}", :alt => "Rubin Anders logo", :title => "Rubin Anders logo"}
                        %h5.project-name DATA ANALYSIS
                        %p.description.text-rubin-anders Internal use system for Rubin/Anders Scientific Inc.
        .col-md-12.col-lg.custom-paddings{:data-aos => "fade-up", :data-aos-offset => "-200"}
            %a{:href => "https://altenberg.pl/"}
                .project-box.project-altenberg-box.justify-content-center
                    %img.altenberg-background.lazyload{:data-src => "{% thumbnail 'main_page/images/projects/altenberg/altenberg_background.png'|get_static_url '513x400' format='PNG' as im %} {{ im.url }} {% endthumbnail %}", :alt => "Altenberg background", :title => "Altenberg background"}
                    .project-altenberg-box-desc
                        %img.logo-altenberg.lazyload{:data-src => "{% thumbnail 'main_page/images/projects/altenberg/altenberg_logo.png'|get_static_url '259x300' format='PNG' as im %} {{ im.url }} {% endthumbnail %}", :alt => "Altenberg logo", :title => "Altenberg logo"}
                        %h5.project-name WEB DEVELOPMENT
                        %p.description.text-altenberg High load server configuration, monitoring & performance tests, implementation of landing pages and custom scripting.
    .row.portfolio.show-more-button
        %input.more-projects{:type => "button", :value => "Show more"}
    .row
