{% load static %}

.portfolio-container{:id => "project"}
    {% include "common_partials/section_header.haml" with title="Projects" subtext="" %}
    .container
        .projects
            .row.portfolio
                .col-12.custom-paddings{:data-aos => "fade-up", :data-aos-offset => "-200"}
                    .project-holder
                        .project-box.project-merck-box.inflated-project-box
                            %img.project-box-background.merck-left-background.lazyload{:data-src => "{% static 'main_page/images/projects/merck/merck_background_part_left_566x649.svg' %}", :alt => "Merck"}
                            %img.project-box-background.merck-background-mobile.lazyload{:data-src => "{% static 'main_page/images/projects/merck/merck_background_mobile_299x384.svg' %}", :alt => "Merck"}
                            %img.project-box-background.merck-background.lazyload{:data-src => "{% static 'main_page/images/projects/merck/merck_background_1000x563.png' %}", :alt => "Merck"}
                            %img.project-box-background.merck-right-background.lazyload{:data-src => "{% static 'main_page/images/projects/merck/merck_background_part_right.png' %}", :alt => "Merck"}
                            .project-box-desc.project-merck-box-desc
                                %img.logo-merck.lazyload{:data-src => "{% static 'main_page/images/projects/merck/merck_logo.png' %}", :alt => "Merck"}
                                %br
                                %img.logo-synthia.lazyload{:data-src => "{% static 'main_page/images/projects/merck/synthia_logo.png' %}", :alt => "Synthia"}
                                %p.description.text-merck Merck is one of the world's oldest pharmaceutical companies and one of our oldest (and current) clients. The collaboration started with due diligence for a project acquired from a cheminformatics startup and developed into full-stack work on what is known today as Synthia® — a retrosynthesis software used for analyzing known reactions and novel molecules. The tool is a market leader in its category and features innovative solutions that facilitate the discovery of new medication.
            .row.portfolio
                .col-md-12.col-lg-6.custom-paddings{:data-aos => "fade-up", :data-aos-offset => "-200"}
                    .project-holder
                        .project-box.project-ethereum-foundation-box
                            %img.project-box-background.ethereum-foundation-background.lazyload{:data-src => "{% static 'main_page/images/projects/ethereum_foundation/ethereum_foundation_background_800x450.png' %}", :alt => "Ethereum Foundation"}
                            %img.project-box-background.ethereum-foundation-left-background.lazyload{:data-src => "{% static 'main_page/images/projects/ethereum_foundation/ethereum_foundation_backround_part_left_500x918.png' %}", :alt => "Ethereum Foundation"}
                            %img.project-box-background.ethereum-foundation-right-background.lazyload{:data-src => "{% static 'main_page/images/projects/ethereum_foundation/ethereum_foundation_backgorund_part_bottom_900x838.png' %}", :alt => "Ethereum Foundation"}
                            .project-box-desc.project-ethereum-foundation-box-desc
                                %img.logo-ethereum-foundation.lazyload{:data-src => "{% static 'main_page/images/projects/ethereum_foundation/ethereum_foundation_logo.png' %}", :alt => "Ethereum Foundation"}
                                %p.description.text-ethereum-foundation Ethereum Foundation is our biggest blockchain client. One of our colleagues joined the team as part of the Solidity project: a smart-contract programming language used in Ethereum. After only 3 months, he’s entered the list of top10 contributors to Solidity and made us all extremely proud. We’re excited to see where the project takes us next.
                .col-md-12.col-lg-6.custom-paddings{:data-aos => "fade-up", :data-aos-offset => "-200"}
                    .project-holder
                        .project-box.project-centi-box
                            %img.project-box-background.centi-background.lazyload{:data-src => "{% static 'main_page/images/projects/centi/centi_background_1000x563.png' %}", :alt => "Centi"}
                            .project-box-desc.project-centi-box-desc
                                %img.logo-centi.lazyload{:data-src => "{% static 'main_page/images/projects/centi/centi_logo.png' %}", :alt => "Centi"}
                                %p.description.text-centi Centi is a blockchain startup with a vision of a contactless cryptocurrency payment system connected to POS (Point of Sale) terminals. We’ve designated a full backend development team to build the system architecture. Currently, we’re hard at work creating an MVP and very happy to be a part of the cashless movement. Hopefully, soon we’ll be able to easily buy a coffee with cryptocurrencies thanks to Centi.
            .row.portfolio
                .col-md-12.col-lg-6.custom-paddings{:data-aos => "fade-up", :data-aos-offset => "-200"}
                    .project-holder
                        .project-box.project-l7-box
                            %img.project-box-background.l7-background.lazyload{:data-src => "{% static 'main_page/images/projects/l7/l7_background_900x506.png' %}", :alt => "L7 Informatics"}
                            %img.project-box-background.l7-molecule-background.lazyload{:data-src => "{% static 'main_page/images/projects/l7/l7_background_molecule.png' %}", :alt => "L7 Informatics"}
                            .project-box-desc.project-l7-box-desc
                                %img.logo-l7.lazyload{:data-src => "{% static 'main_page/images/projects/l7/l7_logo.png' %}", :alt => "L7 Informatics"}
                                %p.description.text-l7 L7 Informatics’ highly skilled developers and engineers create end-to-end solutions and services designed to assist researchers, manufacturers and health systems in making new genomic discoveries, creating higher fidelity therapies, providing superior diagnostics and standard of care and much more. Our team aids the company in development of their flag product — Enterprise Science Platform. ESP is a scientific information management solution which helps life science and healthcare companies to connect people, processes, and systems in order to accelerate discoveries and drive precision healthcare.
                .col-md-12.col-lg-6.custom-paddings{:data-aos => "fade-up", :data-aos-offset => "-200"}
                    .project-holder
                        .project-box.project-golem-box
                            %img.project-box-background.golem-background.lazyload{:data-src => "{% static 'main_page/images/projects/golem/golem_background_1000x563.png' %}", :alt => "Golem"}
                            %img.project-box-background.golem-background-element.lazyload{:data-src => "{% static 'main_page/images/projects/golem/golem_background_part_right_900x1022.png' %}", :alt => "Golem"}
                            .project-box-desc.project-golem-box-desc
                                %img.logo-golem.lazyload{:data-src => "{% static 'main_page/images/projects/golem/golem_logo.png' %}", :alt => "Golem"}
                                %p.description.text-golem Golem is a blockchain startup that came to us with a unique idea: a global distributed computing platform. Our full-stack development team worked on Concent (a web application — Golem protocol reliability service) and a video transcoding use case. The whole project was funded by one of the first successful ICOs (Initial Coin Offering), which made it twice as interesting and fun.
            .row.portfolio
                .col-md-12.col-lg-6.custom-paddings{:data-aos => "fade-up", :data-aos-offset => "-200"}
                    .project-holder
                        .project-box.project-polish-lody-box
                            %img.project-box-background.polish-lody-background.lazyload{:data-src => "{% static 'main_page/images/projects/polish_lody/polish_lody_background_1000x563.png' %}", :alt => "Polish Lody"}
                            .project-box-desc.project-polish-lody-box-desc
                                %img.logo-polish-lody.lazyload{:data-src => "{% static 'main_page/images/projects/polish_lody/polish_lody_logo.png' %}", :alt => "Polish Lody"}
                                %p.description.text-polish-lody Polish Lody is the most delicious (and successful) ice-cream place in Wrocław, Poland. The company has been growing rapidly over the past few years, so we’ve engaged a full-stack development team. Its goal was creating a custom Human Resources Management System — a web application used for managing the employees, agreements and payroll. Needless to say, it’s been our most finger-licking project so far.
                .col-md-12.col-lg-6.custom-paddings{:data-aos => "fade-up", :data-aos-offset => "-200"}
                    .project-holder
                        .project-box.project-altenberg-box
                            %img.project-box-background.altenberg-background.lazyload{:data-src => "{% static 'main_page/images/projects/altenberg/altenberg_background_1000x563.png' %}", :alt => "Altenberg"}
                            .project-box-desc.project-altenberg-box-desc
                                %img.logo-altenberg.lazyload{:data-src => "{% static 'main_page/images/projects/altenberg/altenberg_logo.png' %}", :alt => "Altenberg"}
                                %p.description.text-altenberg Altenberg is a modern-day publishing house focused on working with popular Polish YouTubers and influencers, such as Red Lipstick Monster. Despite being completely starstruck we’ve managed to provide frontend development services with a focus on landing pages and server maintenance/administration. Creating a custom widget or optimizing the page size by 40% were great additions. We’ve made a good impression as on the release date only the servers maintained by Code Poets were able to handle the load.
