{% load static %}

.ready-to-work-with-us
    {% include "main_page_partials/section_separator.haml" %}
    %h2.section-title
        Ready to work with us?

    .row.content_section
        .col-lg-6.col-12
            .backdrop{:data-aos => "fade-up"}
                %img.background-image.lazyload{:data-src => "{% static 'main_page/images/ready_to_work_with_us/estimate_project/feather_polygon.png' %}"}
                .estimate-project
                    %img.background-image.lazyload{:data-src => "{% static 'main_page/images/ready_to_work_with_us/estimate_project/estimate_project_background_shape.png' %}"}
                    %span.estimate-project-button-wrapper
                        %a{:class => "btn btn-primary custom-button", :href => "#", :role => "button"}
                            Estimate Project
                    %span.tell-us-about-you
                        Tell us about your project.
                        %br
                        We will contact you within 24h.
        .col-lg-6.col-12
            .meet-ceo.text-center{:data-aos => "fade-up"}
                .image-cropper
                    %img.lazyload{:data-src => "{% static 'main_page/images/ready_to_work_with_us/adrian.jpg' %}"}
                %span.contact-label
                    Schedule a 15 minute call
                    %br
                    with our CEO.
                %span
                    %a{:class => "btn btn-primary custom-button", :href => "#", :role => "button"}
                        Talk with Adrian
