%script{:type => "text/javascript",
        :src => "https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js",
        :integrity => "sha384-l/y5WJTphApmSlx76Ev6k4G3zxu/+19CVvn9OTKI7gs4Yu5Hm8mjpdtdr5oyhnNo",
        :crossorigin => "anonymous"}

%script{:type => "text/javascript", :src => "https://calendly.com/assets/external/widget.js"}

%script{:type => "text/javascript",
        :src => "https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/gsap.min.js",
        :integrity => "sha512-elauk8NI35rjTlatfRQxeqmJoieQlfm0W8AeQVps+j+KkMDdaqNxVazFzwyU7uSOyeeVn/VLbGYLwOR/D5I6Kw==",
        :crossorigin => "anonymous"}
