{% load static %}

.container.services-container
    .row.service.row
        %h1.title SERVICES
    .row.services-row
        .col-md-6.box{:data-aos => "fade-up"}
            %a{:href => "#"}
                %span
                    .row.left-row
                        .col-sm-10.offset-sm-1.col-md-12.offset-md-0.col-xl-5
                            %p.text-header.mobile-devices Web Application Development
                            .service-box.service-box-green
                                .service-box-img.service-box-img-green
                                    %img.service-img.lazyload{:data-src => "{% static 'main_page/images/services/web_application_development.png' %}", :alt => "Web Application Development"}
                                %p.learn-more Learn more
                        .col-sm-10.offset-sm-1.col-md-12.offset-md-0.col-xl-6.right-section-text
                            .services-description
                                %p.text-header.full-screen.web-application-header Web Application Development
                                %p.text-description We understand your needs and are able to deliver scalable web application solutions based on frontend and backend technologies.
        .col-md-6.box{:data-aos => "fade-up"}
            %a{:href => "#"}
                %span
                    .row.right-row
                        .col-sm-10.offset-sm-1.col-md-12.offset-md-0.col-xl-5
                            %p.text-header.mobile-devices Rapid MVP Development
                            .service-box.service-box-red
                                .service-box-img.service-box-img-red
                                    %img.service-img.lazyload{:data-src => "{% static 'main_page/images/services/rapid_mvp_development.png' %}",  :alt => "Rapid MVP Development"}
                                %p.learn-more Learn more
                        .col-sm-10.offset-sm-1.col-md-12.offset-md-0.col-xl-6.right-section-text
                            .services-description
                                %p.text-header.full-screen Rapid MVP Development
                                %p.text-description With Minimum Viable Product it’s possible to deliver a project within a very limited time frame & budget.
    .row.services-row
        .col-md-6.box{:data-aos => "fade-up"}
            %a{:href => "#"}
                %span
                    .row.left-row
                        .col-sm-10.offset-sm-1.col-md-12.offset-md-0.col-xl-5
                            %p.text-header.mobile-devices Blockchain Development
                            .service-box.service-box-orange
                                .service-box-img.service-box-img-orange
                                    %img.service-img.lazyload{:data-src => "{% static 'main_page/images/services/blockchain_development.png' %}",  :alt => "Blockchain Development"}
                                %p.learn-more Learn more
                        .col-sm-10.offset-sm-1.col-md-12.offset-md-0.col-xl-6.right-section-text
                            .services-description
                                %p.text-header.full-screen Blockchain Development
                                %p.text-description Our experience in real-life Blockchain-based business solutions allows us to understand the challenges of Blockchain development and deliver a working product to market.
        .col-md-6.box{:data-aos => "fade-up"}
            %a{:href => "#"}
                %span
                    .row.right-row
                        .col-sm-10.offset-sm-1.col-md-12.offset-md-0.col-xl-5
                            %p.text-header.mobile-devices Machine Learning
                            .service-box.service-box-blue
                                .service-box-img.service-box-img-blue
                                    %img.service-img.lazyload{:data-src => "{% static 'main_page/images/services/machine_learning.png' %}",  :alt => "Machine Learning"}
                                %p.learn-more Learn more
                        .col-sm-10.offset-sm-1.col-md-12.offset-md-0.col-xl-6.right-section-text
                            .services-description
                                %p.text-header.full-screen Machine Learning
                                %p.text-description The current growth in IT is heavily driven by Machine Learning, from the automotive industry to computer graphics. We can help you understand the potential ways.
    .row.row-line
        .hr-line
