{% load static %}
.services-container{:id => 'services'}
    {% include "common_partials/section_header.haml" with title="Services" subtext="" %}
    %image.section-feather.lazyload{:data-src => "{% static 'main_page/images/background/feather_yellow_254x752.png' %}", :alt => "Yellow Feather", :title => "Yellow Feather"}
    .container
        .row.services-row
            .col-md-6.box{:data-aos => "fade-up"}
                %span
                    .row.right-row
                        .col-sm-10.offset-sm-1.col-md-12.offset-md-0
                            %p.text-header.custom-software-header.mobile-devices Custom Software Development
                            .service-box
                                .service-box-img
                                    %img.service-img.lazyload{:data-src => "{% static 'main_page/images/services/custom_software_development.png' %}",  :alt => "Custom Software Development", :title => "Custom Software Development"}
                        .col-sm-10.offset-sm-1.col-md-12.offset-md-0
                            .services-description
                                %p.text-header.custom-software-header.full-screen Custom Software Development
                                %p.text-description Tailor-made software that helps you achieve your business goals.
            .col-md-6.box{:data-aos => "fade-up"}
                %span
                    .row.left-row
                        .col-sm-10.offset-sm-1.col-md-12.offset-md-0
                            %p.text-header.webapp-development-header.mobile-devices Web Application Development
                            .service-box
                                .service-box-img
                                    %img.service-img.lazyload{:data-src => "{% static 'main_page/images/services/web_application_development.png' %}", :alt => "Web Application Development", :title => "Web Application Development"}
                        .col-sm-10.offset-sm-1.col-md-12.offset-md-0
                            .services-description
                                %p.text-header.webapp-development-header.full-screen Web Application Development
                                %p.text-description Scalable web application solutions based on frontend and backend technologies.
        .row.services-row
            .col-md-6.box{:data-aos => "fade-up"}
                %span
                    .row.right-row
                        .col-sm-10.offset-sm-1.col-md-12.offset-md-0
                            %p.text-header.rapid-mvp-header.mobile-devices Rapid MVP Development
                            .service-box
                                .service-box-img
                                    %img.service-img.lazyload{:data-src => "{% static 'main_page/images/services/rapid_mvp_development.png' %}",  :alt => "Rapid MVP Development", :title => "Rapid MVP Development"}
                        .col-sm-10.offset-sm-1.col-md-12.offset-md-0
                            .services-description
                                %p.text-header.rapid-mvp-header.full-screen Rapid MVP Development
                                %p.text-description Minimum Viable Product — a project set within a limited time frame & budget.
            .col-md-6.box{:data-aos => "fade-up"}
                %span
                    .row.left-row
                        .col-sm-10.offset-sm-1.col-md-12.offset-md-0
                            %p.text-header.team-extension-header.mobile-devices Team extension
                            .service-box
                                .service-box-img
                                    %img.service-img.lazyload{:data-src => "{% static 'main_page/images/services/project_outsorcing_n_team_extension.png' %}",  :alt => "Project Outsourcing & Team Extension", :title => "Project Outsourcing & Team Extension"}
                        .col-sm-10.offset-sm-1.col-md-12.offset-md-0
                            .services-description
                                %p.text-header.team-extension-header.full-screen Project Outsourcing & Team Extension
                                %p.text-description A full-stack project team or selected specialists at your disposal.
