{% load static %}
{% load variable_tag %}

{% if request.user_agent.browser.family|is_webp_supported %}
    {% define_variable ".webp" as extension %}
{% else %}
    {% define_variable ".png" as extension %}
{% endif %}

.container
    .row.tech-img
        .col-lg-4.flex-wrapp.justify-content-center.nopadding{:data-aos => "zoom-in"}
            %img.technology.lazyload{:data-src => "{% static 'main_page/images/technologies/python_284x284'|add:extension %}", :alt => "Python Logo"}
            %img.technology.lazyload{:data-src => "{% static 'main_page/images/technologies/django_284x284'|add:extension %}", :alt => "Django Logo"}
            %img.technology.lazyload{:data-src => "{% static 'main_page/images/technologies/angular_284x284'|add:extension %}", :alt => "Angular Logo"}
        .col-lg-4.flex-wrapp.justify-content-center.nopadding{:data-aos => "zoom-in" }
            %img.technology.lazyload{:data-src => "{% static 'main_page/images/technologies/epam_INDYGO_284x284'|add:extension %}", :alt => "Epam INDYGO"}
            %img.technology.lazyload{:data-src => "{% static 'main_page/images/technologies/kekuljs_284x284'|add:extension %}", :alt => "KekuleJS"}
            %img.technology.lazyload{:data-src => "{% static 'main_page/images/technologies/MarvinJS_284x284'|add:extension %}", :alt => "MarvinJS"}
        .col-lg-4.flex-wrapp.justify-content-center.nopadding{:data-aos => "zoom-in" }
            %img.technology.lazyload{:data-src => "{% static 'main_page/images/technologies/java_284x284'|add:extension %}", :alt => "Java Logo"}
            %img.technology.lazyload{:data-src => "{% static 'main_page/images/technologies/typescript_284x284'|add:extension %}", :alt => "TypeScript Logo"}
            %img.technology.lazyload{:data-src => "{% static 'main_page/images/technologies/RDKit_284x284'|add:extension %}", :alt => "RDKit Logo"}
