{% load static %}

.container
    .row.tech-img
        .col-lg-4.flex-wrapp.justify-content-center.nopadding{:data-aos => "zoom-in"}
            %img.technology.lazyload{:data-src => "{% static 'main_page/images/technologies/python_120x120.png' %}", :alt => "Python", :title => "Python"}
            %img.technology.lazyload{:data-src => "{% static 'main_page/images/technologies/django_120x120.png' %}", :alt => "Django", :title => "Django"}
            %img.technology.lazyload{:data-src => "{% static 'main_page/images/technologies/angular_120x120.png' %}", :alt => "Angular", :title => "Angular"}
        .col-lg-4.flex-wrapp.justify-content-center.nopadding{:data-aos => "zoom-in" }
            %img.technology.lazyload{:data-src => "{% static 'main_page/images/technologies/epam_INDYGO_120x120.png' %}", :alt => "Epam_INDYGO", :title => "Epam_INDYGO"}
            %img.technology.lazyload{:data-src => "{% static 'main_page/images/technologies/kekuljs_120x120.png' %}", :alt => "KekulJS", :title => "KekulJS"}
            %img.technology.lazyload{:data-src => "{% static 'main_page/images/technologies/MarvinJS_120x120.png' %}", :alt => "MarvinJS", :title => "MarvinJS"}
        .col-lg-4.flex-wrapp.justify-content-center.nopadding{:data-aos => "zoom-in" }
            %img.technology.lazyload{:data-src => "{% static 'main_page/images/technologies/java_120x120.png' %}", :alt => "Java", :title => "Java"}
            %img.technology.lazyload{:data-src => "{% static 'main_page/images/technologies/typescript_120x120.png' %}", :alt => "TypeScript", :title => "TypeScript"}
            %img.technology.lazyload{:data-src => "{% static 'main_page/images/technologies/RDKit_120x120.png' %}", :alt => "RDKit", :title => "RDKit"}
