.container
    .posts-container
        @media only screen and (max-width: 1079px)
            max-width: 100%
            flex: 100%

        @media only screen and (max-width: 834px)
            .separator
                display: none

        .main-article-container
            text-align: justify

            .row.main-row
                padding-bottom: 10px
                flex-wrap: wrap-reverse

                .article-text-container
                    @media only screen and (max-width: 833px)
                        max-width: 100%
                        flex: 100%
                        margin-right: unset

                    .row.title
                        display: -webkit-box
                        -webkit-line-clamp: 2
                        -webkit-box-orient: vertical
                        overflow: hidden
                        text-overflow: ellipsis
                        height: 70px
                        max-height: 70px

                    .row
                        margin-left: 0
                        margin-right: 0

                        .main-article-url
                            margin-bottom: 5px
                            color: #003272
                            font-size: 22px
                            font-weight: 700

                            @media only screen and (max-width: 1079px)
                                margin-top: 10px

                            @media only screen and (max-width: 767px)
                                text-align: center
                                width: 100%

                        .info-section
                            position: relative
                            height: 50px
                            width: 100%
                            margin-bottom: 10px

                            .main-img
                                margin: auto
                                position: absolute
                                top: 0
                                bottom: 0
                                border-radius: 50%
                                height: 45px
                                width: 45px
                                object-fit: cover
                                object-position: 0 0

                            .auto-name-and-category
                                height: 45px
                                margin: auto 140px auto 55px

                                .container-section
                                    .author-name
                                        position: absolute
                                        top: 5px
                                        color: #003272
                                        font-size: 16px
                                        font-weight: 600

                                    .category
                                        width: calc(100% - 55px)
                                        position: absolute
                                        bottom: 3px
                                        font-size: 10px

                                        .category-anchor
                                            color: #FB6729
                                            text-decoration: underline
                                            font-weight: 600

                            .read-time
                                position: absolute
                                color: #B6B6B8
                                right: 65px + 9.5px
                                bottom: 3px
                                font-size: 9.5px

                            .date
                                position: absolute
                                width: fit-content
                                max-width: 65px
                                right: 0
                                bottom: 3px
                                font-size: 9.5px
                                font-weight: 400

                .intro-row
                    .intro-container
                        color: #B1B0B5

                    .read-more
                        margin-top: 5px

                        @media only screen and (max-width: 767px)
                            margin: 5px auto 0

                        .read-more-url
                            .more
                                font-size: 13px
                                font-weight: 700
                                color: #FB6729
                                text-decoration: underline

                                @media only screen and (max-width: 767px)
                                    font-size: 15px

                .article-img-container
                    @media only screen and (max-width: 833px)
                        max-width: 100%
                        flex: 100%

                    .row
                        position: relative
                        width: 100%
                        margin: 0
                        .image-url
                            img
                                transition: all 1s ease
                                border-radius: 25px
                                position: absolute
                                top: 0
                                left: 0
                                bottom: 0
                                height: auto
                                width: 100%

                                @media only screen and (max-width: 833px)
                                    position: initial

                            &:hover
                                img
                                    opacity: 0.4

