{% load static %}
{% load pipeline %}
{% stylesheet 'blog' %}
{% load blog_tag %}


.blog_menu_desktop
    .row
        .category
            %a.link.border-div{:href => "{% blog_url '' %}"} All Articles
        {% for category in page.get_menu_categories %}
            .category
                %a.link.border-div{:href => "{% blog_url category.slug %}"} {{ category }}
        {% endfor %}
        .search-bar
            {% include 'blog/partials/search_form.haml' %}
