{% load static %}
{% load pipeline %}
{% stylesheet 'blog' %}
{% javascript 'blog' %}


.blog-menu-desktop
    .row
        .search-bar
            {% include 'blog/partials/search_form.haml' %}

.blog-menu-mobile
    .blog-menu-container
        .search-bar
            {% include 'blog/partials/search_form.haml' %}
