{% load static %}
{% load pipeline %}
{% stylesheet 'blog' %}
{% load blog_tag %}

.blog_menu_mobile
    .outer-column
        .row.separator
            .search-bar.centered-div
                {% include 'blog/partials/search_form.haml' %}
        .row.separator
            %a.link{:href => "{% blog_url '' %}"} All Articles
        {% for category in page.get_menu_categories %}
            .row.separator
                %a.link{:href => "{% blog_url category.slug %}"} {{ category }}
        {% endfor %}
