{% load static %}
{% load pipeline %}
{% stylesheet 'blog' %}
{% load blog_tag %}

.blog_menu_mobile
    .outer-column
        .row.separator
            .search-bar.centered-div
                %form{:action => "/blog/search/", :method => "get", :role => "search"}
                    %input{:name => "phrase", :type => "text", :placeholder => "Search...", :autocomplete => "on"}
                    %img.search-icon{:src => "{% static 'blog/images/search.png' %}"}
        .row.separator
            %a.link{:href => "{% blog_url '' %}"} All Articles
        {% for category in page.get_menu_categories %}
            .row.separator
                %a.link{:href => "{% blog_url category.title %}"} {{ category }}
        {% endfor %}
