{% load pipeline %}
{% stylesheet 'blog' %}
{% load blog_tag %}

.blog_menu
    .outer-row
        .row
            .category.border-div
                %a{:href => "{% blog_url '' %}"} All Articles
            {% for category in page.get_menu_categories %}
                .category.border-div
                    %a{:href => "{% blog_url category.title %}"} {{ category }}
            {% endfor %}
