{% load wagtailcore_tags %}
{% load thumbnail %}
{% load wagtailimages_tags %}
{% load pipeline %}
{% stylesheet 'blog_posts_list' %}

.container.blog-posts-list
    {% if page.get_all_articles %}
        .col-md-9.posts-container
            {% include 'blog/blog_posts_list_partials/main_article.haml' %}

            %hr.separator
            .row.rest-posts.full-screen-articles
                {% include 'blog/partials/article_list.haml' with article_list=page.get_rest_articles %}
            .row.rest-posts.mobile-devices-articles
                {% include 'blog/partials/article_list.haml' with article_list=page.get_all_articles %}
        .col-md.popular-articles
            .inner-popular-articles
                .popular-articles-text POPULAR ARTICLES
                {% for article in page.get_popular_articles %}
                    .article-wrapper
                        .popular-article-border
                        .popular-article
                            %a.title{:href => "{% url 'wagtail_serve' article.specific.slug %}"} {{ article.specific.title }}
                            .author by
                                %strong {{ article.specific.author.name }}
                            .rest-information.row
                                {% for category in article.get_article_categories %}
                                    %a.category{:href => "{% url 'wagtail_serve' category.slug %}"} {{ category }}
                                {% endfor %}
                                .time-and-date.row
                                    .article-read-time {{ article.specific.read_time }} min read
                                    .article-publised-date {{ article.specific.date }}
                {% endfor %}
    {% else %}
        .no-articles-div
            .nothing-found-text
                Nothing Found
            .no-matched-criteria-text
                Sorry, no posts matched your criteria
    {% endif %}
