{% load static %}
{% load pipeline %}
{% stylesheet 'blog' %}


.blog-menu-desktop
    .row
        .category
            %a.link.border-div{:href => "{% url 'wagtail_serve' '' %}"} All Articles
        {% for category in page.get_menu_categories %}
            .category
                %a.link.border-div{:href => "{% url 'wagtail_serve' category.slug %}"} {{ category }}
        {% endfor %}
        .search-bar
            {% include 'blog/partials/search_form.haml' %}
