{% load wagtailcore_tags %}
{% load thumbnail %}
{% load blog_tag %}
{% load wagtailimages_tags %}
{% load pipeline %}
{% stylesheet 'blog_posts_list' %}

.container.blog-posts-list
    .col-md-9.posts-container
        {% include 'blog/blog_posts_list_partials/main_article.haml' %}

        %hr.separator
        .row.rest-posts
            {% for blog_article in page.get_rest_articles %}
                .col-md-6.article-text-container{:class => "{% if not forloop.counter|divisibleby:'2' %}grey-background{% endif %}"}
                    .row.title
                        %a.main-article-url{:href => "{% blog_url blog_article.specific.get_proper_url %}"}
                            .main-article-title {{ blog_article.specific.title }}

                    .row.info-section
                        .info-section
                            {% thumbnail blog_article.specific.author.front_image "45x45" as image %}
                                %img.main-img.lazyload{:data-src => "{{ image.url }}"}
                            {% endthumbnail %}
                            .auto-name-and-category
                                .container-section
                                    .author-name
                                        {{ blog_article.specific.author.name }}
                                    .category
                                        %a.category-anchor{:href => "{% blog_url blog_article.specific.get_category.specific.title %}"}
                                            {{ blog_article.specific.get_category.specific.title }}
                            .read-time
                                {{ blog_article.specific.read_time }} min read
                            .date
                                {{ blog_article.specific.date }}

                    .row.article-img-container
                        %a.image-url{:href => "{% blog_url blog_article.specific.get_proper_url %}"}
                            {% image blog_article.specific.cover_photo fill-1200x628 %}

                    .row.intro-row
                        .intro-container
                            {{ blog_article.specific.intro }} [...]
                        .read-more
                            %a.read-more-url{:href => "{% blog_url blog_article.specific.get_proper_url %}"}
                                %span.more Read more

                {% if forloop.counter|divisibleby:"2" %}
                    .row.separator
                        %hr.line
                {% endif %}
            {% endfor %}
    .col-md.popular-articles
