{% load blog_tag %}
{% load thumbnail %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load pipeline %}
{% stylesheet 'blog_posts_list' %}


.container.blog-posts-list
    {% if page.get_children %}
        .col-md-12.posts-container
            .row.rest-posts
                {% include 'blog/partials/article_list.haml' with article_list=page.get_children %}

    {% else %}
        .no-articles-div
            .nothing-found-text
                Nothing Found
            .no-matched-criteria-text
                Sorry, no posts matched your criteria
    {% endif %}
