{% load thumbnail %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load pipeline %}
{% stylesheet 'blog_posts_list' %}


.container.blog-posts-list
    {% if category_articles %}
        .col-md-12.posts-container
            .row.rest-posts
                {% include 'blog/partials/article_list.haml' with article_list=category_articles %}

    {% else %}
        .no-articles-div
            .nothing-found-text
                Nothing Found
            .no-matched-criteria-text
                Sorry, no posts matched your criteria
    {% endif %}
