{% load thumbnail %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load pipeline %}
{% load blog_article_page_filters %}
{% stylesheet 'blog_post' %}

.post-container
    .page-photo
        {% image page.specific.article_photo  fill-1920x550 as photo %}
        %img.article-photo.lazyload{:data-src => "{{ photo.url }}", :width => "{{ photo.width }}", :height => "{{ photo.height }}", :alt => "{{ page.specific.article_photo.title }}", :title => "{{ page.specific.article_photo.title }}"}
    .post-body
        .article-details
            .row.post-title
                {{ page.specific.title }}
            .row
                {% thumbnail page.specific.author.front_image "400x400" as image %}
                    %img.lazyload.author-image{:data-src => "{{ image.url }}", :alt => "{{ page.specific.author.name }}", :title => "{{ page.specific.author.name }}"}
                {% endthumbnail %}
                .author-details
                    .author-name {{ page.specific.author.name }}
                    .row.rest-information-row
                        .author-position {{ page.specific.author.position }}
                        .rest-details.more-details-desktop-look
                            .read-time.inline-display {{ page.specific.read_time }} min read
                            .date.inline-display {{ page.specific.date }}
                    .row.more-details-mobile-look
                        .rest-details.inner-more-details-mobile-look
                            .read-time.inline-display {{ page.specific.read_time }} min read
                            .date.inline-display {{ page.specific.date }}
        {% if page.specific.table_of_contents %}
            .table-of-contents
                %h4 Table of contents:
                %ol
                    {% for header in page.specific.headers_list %}
                        %li
                            %a{:href => '##{ page.specific|get_header_id:header }'}
                                {{ header }}
                    {% endfor %}
        {% endif %}

        .article-content
            {% for stream_child in page.body %}
                {% if stream_child.block.name == "header" %}
                    %h3{:id => '{{ page|get_header_id:stream_child.value }}' }
                        {{ stream_child.value }}
                {% else %}
                    {{ stream_child }}
                {% endif %}
            {% endfor %}

        {% if page.specific.recommended_articles %}
            .recommendations
                %h4 See also:
                %ul
                    {% for article in page.specific.recommended_articles %}
                        %li {{ article }}
                    {% endfor %}
        {% endif %}

        .comment-section{:id => "disqus_thread"}
            %script{:type => "text/javascript"}
                var blog_page_url = "{{ request.build_absolute_uri }}"
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% block extra_script %}
    %script{:type => "text/javascript",
        :src => "https://code.jquery.com/jquery-3.4.1.js",
        :integrity => "sha384-mlceH9HlqLp7GMKHrj5Ara1+LvdTZVMx4S1U43/NxCvAkzIo8WJ0FE7duLel3wVo",
        :crossorigin => "anonymous"}
    {% javascript 'blog_post' %}
{% endblock %}
