{% load blog_tag %}
{% load thumbnail %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load pipeline %}
{% stylesheet 'blog_post' %}


.post-container
    .page-photo
        {% image page.specific.article_photo  fill-1920x550 as photo %}
        %img.article-photo.lazyload{:data-src => "{{ photo.url }}", :width => "{{ photo.width }}", :height => "{{ photo.height }}"}
    .post-body
        .article-details
            .row.post-title
                {{ page.specific.title }}
            .row
                {% thumbnail page.specific.author.front_image "400x400" as image %}
                    %img.lazyload.author-image{:data-src => "{{ image.url }}"}
                {% endthumbnail %}
                .author-details
                    .author-name {{ page.specific.author.name }}
                    .row.rest-information-row
                        .author-position {{ page.specific.author.position }}
                        .rest-details.more-details-desktop-look
                            %a.category.inline-display{:href => "{% blog_url article.specific.get_category.specific.title %}"} {{ page.specific.get_category.specific.title }}
                            .read-time.inline-display {{ page.specific.read_time }} min read
                            .date.inline-display {{ page.specific.date }}
                    .row.more-details-mobile-look
                        .rest-details.inner-more-details-mobile-look
                            %a.category.inline-display{:href => "{% blog_url article.specific.get_category.specific.title %}"} {{ page.specific.get_category.specific.title }}
                            .read-time.inline-display {{ page.specific.read_time }} min read
                            .date.inline-display {{ page.specific.date }}
        .article-content
            {{ page.specific.body|richtext }}

