{% load thumbnail %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load pipeline %}
{% stylesheet 'blog_post' %}

.post-container
    .page-photo
        {% image page.specific.article_photo  fill-1920x550 as photo %}
        %img.article-photo.lazyload{:data-src => "{{ photo.url }}", :width => "{{ photo.width }}", :height => "{{ photo.height }}", :alt => "{{ page.specific.article_photo.title }}", :title => "{{ page.specific.article_photo.title }}"}
    .post-body
        .article-details
            .row.post-title
                {{ page.specific.title }}
            .row
                {% thumbnail page.specific.author.front_image "400x400" as image %}
                    %img.lazyload.author-image{:data-src => "{{ image.url }}", :alt => "{{ page.specific.author.name }}", :title => "{{ page.specific.author.name }}"}
                {% endthumbnail %}
                .author-details
                    .author-name {{ page.specific.author.name }}
                    .row.rest-information-row
                        .author-position {{ page.specific.author.position }}
                        .rest-details.more-details-desktop-look
                            {% for category in page.get_article_categories %}
                                %a.category.inline-display{:href => "{% url 'wagtail_serve' category.slug %}"} {{ category }}
                            {% endfor %}
                            .read-time.inline-display {{ page.specific.read_time }} min read
                            .date.inline-display {{ page.specific.date }}
                    .row.more-details-mobile-look
                        .rest-details.inner-more-details-mobile-look
                            {% for category in page.get_article_categories %}
                                %a.category.inline-display{:href => "{% url 'wagtail_serve' category.slug %}"} {{ category }}
                            {% endfor %}
                            .read-time.inline-display {{ page.specific.read_time }} min read
                            .date.inline-display {{ page.specific.date }}
        .article-content
            {{ page.specific.body }}

        .comment-section{:id => "disqus_thread"}
            %script{:type => "text/javascript"}
                var blog_page_url = {{ request.build_absolute_uri }}
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% javascript 'blog_post' %}
