{% load static %}
.footer-section
    .footer.footer-color
        .container
            .row.no-margin
                .col-lg-3.offset-lg-0.col-md-3.offset-md-2.col-sm-6.col-12.custom-col-padding
                    %section.widget.footer-logo
                        %img.company-logo.lazyload{:data-src => "{% static 'common/images/footer/code_poets_logo_footer_white_212x68.png' %}", :alt => "Code Poets logo"}
                .col-lg-3.offset-lg-0.col-md-3.offset-md-2.col-sm-6.col-12.custom-col-padding
                    %section.widget.footer-address
                        %h3.widgettitle Code Poets sp. z o.o.
                        .textwidget.custom-html-widget.postal-address
                            ul. Józefa Piłsudskiego 49-57
                            %br
                            50-032 Wrocław
                            %br
                            Poland
                .col-lg-3.offset-lg-0.col-md-3.offset-md-2.col-sm-6.col-12.custom-col-padding
                    %section.widget.footer-contact
                        %h3.widgettitle Contact Us
                        .textwidget.custom-html-widget
                            %strong.anti-bot-style ti.steopedoc@tcatnoc
                    %section.widget.footer-contact-2
                        .textwidget
                            .social-media-container
                                %a.social-media-link{:href => "https://www.linkedin.com/company/codepoets/"}
                                    %img.social-media-logo.lazyload{
                                        :data-src => "{% static 'common/images/footer/social_icons/linkedin_icon_50x50.png' %}",
                                        :alt => "LinkedIn",
                                    }
                                %a.social-media-link{:href => "https://www.facebook.com/codepoets.it/"}
                                    %img.social-media-logo.lazyload{
                                        :data-src => "{% static 'common/images/footer/social_icons/facebook_icon_50x50.png' %}",
                                        :alt => "Facebook",
                                    }
                                %a.social-media-link{:href => "https://clutch.co/profile/code-poets/"}
                                    %img.social-media-logo.lazyload{
                                        :data-src => "{% static 'common/images/footer/social_icons/clutch_icon_50x50.png' %}",
                                        :alt => "Clutch",
                                    }
                                %a.social-media-link{:href => "https://github.com/code-poets/"}
                                    %img.social-media-logo.lazyload{
                                        :data-src => "{% static 'common/images/footer/social_icons/github_icon_50x50.png' %}",
                                        :alt => "GitHub",
                                    }
                .col-lg-3.offset-lg-0.col-md-3.offset-md-2.col-sm-6.col-12.custom-col-padding
                    %section.widget.footer-reviews
                        .textwidget
                            %script{:type => "text/javascript", :src => "https://widget.clutch.co/static/js/widget.js"}
                            .clutch-widget{
                                :data-url => "https://widget.clutch.co",
                                :data-widget-type => "2",
                                :data-height => "100",
                                :data-darkbg => "1",
                                :data-clutchcompany-id => "705656"
                            }
                                %iframe#iframe-0.04822719047585822.clutch-frame{
                                    :frameborder => "0",
                                    :width => "100%",
                                    :height => "44px",
                                    :scrolling => "no",
                                    :src => "https://widget.clutch.co/widgets/get/2/darkbg?ref_domain=codepoets.it&amp;uid=705656"
                                }
                        .soda-container
                            .soda-membership
                                %span.soda-text
                                    Member of
                                %a{:href => "https://www.sodapl.com"}
                                    %img.soda-logo.lazyload{:data-src => "{% static 'common/images/footer/SoDA.svg' %}", :alt => "SoDA"}
                            .soda-description
                                %span
                                    Software
                                %span
                                    Development
                                %span
                                    Association
                                %span
                                    Poland

    %footer.socket.socket-color
        .container
            .row
                .col-lg-9.col-12
                    %span.copyright
                        ©
                        %span{:id => "current_year_id"}
                        %span
                            Code Poets sp. z o.o. All rights reserved.  | NIP: 8952068133 | KRS: 0000598357 | REGON: 363584646
                .col-lg-3.col-12
                    %nav.sub-menu-socket
                        %a.light-grey-link{:href => "{% url 'privacy_and_policy' %}"}
                            Privacy and Cookie Policy
