{% load static %}

%link{:rel => "stylesheet",
    :type => "text/css",
    :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css",
    :integrity => "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T",
    :crossorigin => "anonymous"}

%meta{:name => "viewport",
        :content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}

%link{:rel => "stylesheet",
		:type => "text/css",
		:href => "https://unpkg.com/aos@2.3.1/dist/aos.css",
		:integrity => "sha384-/rJKQnzOkEo+daG0jMjU1IwwY9unxt1NBw3Ef2fmOJ3PW/TfAg2KXVoWwMZQZtw9",
		:crossorigin => "anonymous"}

%link{:rel => "stylesheet",
		:type => "text/css",
		:href => "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap"}

%script{:crossorigin => "anonymous",
    :integrity => "sha384-nlrs3si5rOD/addU3n17Afs9LxtGF07YymT7pMXukLKkKavC6gFxVWQSVLav9TKa",
    :src => "https://unpkg.com/lazysizes@5.1.1/lazysizes.js"}

%link{:rel => "shortcut icon", :href => "{% static 'common/images/favicon.ico' %}"}
