{% load static %}
{% load variable_tag %}

{% if request.resolver_match.url_name == "main_page" %}
    {% define_variable "nb-hidden" as navbar_visibility_class %}
{% else %}
    {% define_variable "nb-visible" as navbar_visibility_class %}
    {% define_variable "scrolled" as menu_scrolled %}
    {% define_variable "background-change" as background_visibility %}
{% endif %}

%nav.navbar.navbar-expand.fixed-top.navbar-dark.navbar-animation{:class => "{{ navbar_visibility_class }}"}
    .navbar-collapse{:class => "{{ background_visibility }}"}
        %a.logo{:href=> "{% url 'main_page' %}#home", :class => "{{ menu_scrolled }}"}
            %img.codepoets-logo.lazyload{:data-src => "{% static 'common/images/menu/code_poets_logo_menu_white.png' %}", :alt => "Codepoets logo", :title => "Codepoets logo"}
        %ul.navbar-nav.ml-auto.menu
            %li.nav-item.margin
                %a.nav-link{:href => "{% url 'main_page' %}#services"} Services
            %li.nav-item.margin
                %a.nav-link{:href => "{% url 'main_page' %}#project"} Projects
            %li.nav-item.margin
                %a.nav-link{:href => "{% url 'main_page' %}#about-us"} About Us
            %li.nav-item.margin
                %a.nav-link{:href => "{% url 'main_page' %}#contact-us"} Contact Us
            %li.nav-item.margin
                %a.nav-link{:href => "{% url 'career' %}"} Career
            %li.nav-item.margin
                %a.nav-link{:href => "{% url 'blog:company-blog:wagtail_serve' '' %}"} Blog
            .estimate-triangle-left.hidden-xs
            %a.nav-link.estimate-anchor{:href => "{% url 'estimate_project' %}"}
                %li.nav-item.estimate
                    %span.estimate-project Estimate Project
            .estimate-triangle-right.hidden-xs
    %hr.bottom-shadow
%button.navbar-toggler.hamburger{:type =>"button", :aria-expanded => "false", :aria-controls => "menu"}
    %span.hamburger-box
        %span.hamburger-inner

%nav.navbar-mobile.navigation
    .menu-mobile
        %a{:href => "{% url 'main_page' %}#home"}
            %img.codepoets-logo-mobile.lazyload{:data-src => "{% static 'common/images/menu/code_poets_logo_menu_white.png' %}", :alt => "Codepoets logo", :title => "Codepoets logo"}
        %ul.navbar-nav.ml-auto.menu
            %li.nav-item.margin.mobile-nav
                %a.nav-link.mobile-link{:href => "{% url 'main_page' %}#services"} Services
            %li.nav-item.margin.mobile-nav
                %a.nav-link.mobile-link{:href => "{% url 'main_page' %}#project"} Projects
            %li.nav-item.margin.mobile-nav
                %a.nav-link.mobile-link{:href => "{% url 'main_page' %}#about-us"} About Us
            %li.nav-item.margin.mobile-nav
                %a.nav-link.mobile-link{:href => "{% url 'main_page' %}#contact-us"} Contact Us
            %li.nav-item.margin.mobile-nav
                %a.nav-link.mobile-link{:href => "{% url 'career' %}"} Career
            %li.nav-item.margin.mobile-nav
                %a.nav-link.mobile-link{:href => "{% url 'blog:company-blog:wagtail_serve' '' %}"} Blog
            %a.nav-link.mobile-link.estimate{:href => "{% url 'estimate_project' %}"}
                %li.nav-item.estimate.mobile-nav
                    %span.mobile.estimate-project Estimate Project
