.section-header
    .container
        .content-wrapper
            .section-description-contents
                .section-description-bar
                .section-description-text
                    %h1.title
                        {{ title }}
                    %h2.subtext
                        {{ subtext }}
