%meta{:name => "viewport",
        :content => "width=device-width, initial-scale=1"}

%link{:rel => "stylesheet",
		:type => "text/css",
		:href => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css",
		:integrity => "sha384-t4IGnnWtvYimgcRMiXD2ZD04g28Is9vYsVaHo5LcWWJkoQGmMwGg+QS0mYlhbVv3",
		:crossorigin => "anonymous"}

%link{:rel => "stylesheet",
		:type => "text/css",
		:href => "https://unpkg.com/aos@2.3.1/dist/aos.css",
		:integrity => "sha384-/rJKQnzOkEo+daG0jMjU1IwwY9unxt1NBw3Ef2fmOJ3PW/TfAg2KXVoWwMZQZtw9",
		:crossorigin => "anonymous"}
