.container-fluid.px-0
    #content.jumbo.d-flex
        .container-fluid
            .text-box-blue
                %span.main-screen-text WE DELIVER SOFTWARE THAT MATTERS
            .text-box-orange
                %span.main-screen-text We are a software development company from Poland, Europe.
