limit_req_zone $binary_remote_addr zone=ip_req_limit:10m rate={{ nginx.limit_of_requests_per_second }}r/s;
limit_conn_zone $binary_remote_addr zone=ip_connection_limit:10m;

# Disable sending the nginx version in error pages and server header
server_tokens off;

# Don't allow the browser to render the page inside an frame
add_header X-Frame-Options SAMEORIGIN;

# Add X-Content-Type-Options header that disables concent-type sniffing on some browsers
add_header X-Content-Type-Options nosniff;

# Add X-XSS-Protection header that enables the Cross-site scripting filter in the browsers
add_header X-XSS-Protection "1; mode=block";

server {
    listen           80 default_server;
    listen      [::]:80 default_server;

    error_page 503 /maintenance.html;

    location = /maintenance.html {
       root /var/www/html/;
       internal;
    }

    location = /favicon.ico {
        alias {{ nginx_static_files_dir }}/favicon.ico;
    }

    location / {
        limit_req  zone=ip_req_limit   burst={{ nginx.number_of_requests_stored_in_queue }} nodelay;
        limit_conn ip_connection_limit {{ nginx.number_of_open_connections_per_client }};
        return 503;
    }

    location /nginx-static/ {
        expires     1y;
        add_header  Cache-Control "public";

        alias {{ nginx_static_files_dir }}/;
    }

}
