# Don't allow the browser to render the page inside an frame
add_header X-Frame-Options SAMEORIGIN;

# Add X-Content-Type-Options header that disables concent-type sniffing on some browsers
add_header X-Content-Type-Options nosniff;

# Add X-XSS-Protection header that enables the Cross-site scripting filter in the browsers
add_header X-XSS-Protection "1; mode=block";

# Enable HSTS header
add_header Strict-Transport-Security "max-age=31536000";
