{% load static %}
.about-us-section-header
    {% include "common_partials/section_header.haml" with title="Who are we?" subtext="" %}
.about-us-page
    .who-we-are-part.row{:data-aos => "fade-up"}
        .outer-text-div
            .inner-text-div
                .text-row.who-we-are-text-row
                    %p.description
                        Software is like poetry — knowing the language isn't enough to write a good poem.
                    %p.description.hidden
                        We know the language and, what’s more important, we know how to use it in an efficient way.
                        But rather than writing code for the sake of writing it, we always keep your ultimate business goals top of mind.
                        That’s what guides every aspect of how we run our business and how we’ve managed to delight the most demanding customers.
                    %p.description.hidden
                        From startups to big corporations, on-site and remote projects: the reason for our proven track record is agility.
                        We’ve remained an intentionally smaller-scale company so that we can fit your needs best and change with them as the collaboration evolves.
                    %p.description.hidden
                        Apart from being Code Poets we are travelers, mountain lovers, Brazilian jiu-jitsu practitioners, professional badminton players, amazing cooks and overall kind people to talk to.
            .read-more-less.read-less.hidden
                .button-inner-div
                    .read-text
                        Read less
            .read-more-less.read-more
                .button-inner-div
                    .read-text
                        Read more
    .our-values-part.row
        .left-container.left-column{:data-aos => "fade-up"}
            %img.lazyload.image_1{:data-src => "{% static 'team_introduction_page/images/image_1_750x500.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_1_426x284.jpg' %} 500w, {% static 'team_introduction_page/images/image_1_645x430.jpg' %} 850w, {% static 'team_introduction_page/images/image_1_750x500.jpg' %} 1200w", :alt => "Code Poets team", :title => "Code Poets team"}
        .right-container.right-column
            .outer-text-div.outer-our-values-text-div{:data-aos => "fade-up"}
                .inner-text-div.inner-our-values-text-div
                    .topic.our-values-topic OUR VALUES
            %img.lazyload.image_2{:data-src => "{% static 'team_introduction_page/images/image_2_468x312.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_2_264x176.jpg' %} 500w, {% static 'team_introduction_page/images/image_2_399x266.jpg' %} 850w, {% static 'team_introduction_page/images/image_2_468x312.jpg' %} 1200w", :alt => "Our values", :title => "Our values", :data-aos => "fade-up"}
    .understand-part.row
        .left-container.inner-left-container.left-column
            %img.lazyload.image_3{:data-src => "{% static 'team_introduction_page/images/image_3_525x350.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_3_294x196.jpg' %} 500w, {% static 'team_introduction_page/images/image_3_446x297.jpg' %} 850w, {% static 'team_introduction_page/images/image_3_525x350.jpg' %} 1200w", :alt => "Code Poets brazilian jiu jitsu team", :title => "Code Poets brazilian jiu jitsu team", :data-aos => "fade-up"}
            .square.yellow-square{:data-aos => "fade-up"}
        .right-container.right-column
            .outer-text-div.outer-understand-text-div{:data-aos => "fade-up"}
                .inner-text-div.inner-understand-text-div
                    .topic-row
                        .topic UNDERSTAND
                    .text-row
                        %p.description.understand-part-description
                            We dig deep to understand your business, goals and requirements.
                            We need to create partnership and be understanding to each other in order to provide the best solutions.
    .understand-part-2.row
        .left-container.left-column{:data-aos => "fade-up"}
            %img.lazyload.overlayed-image.image_4{:data-src => "{% static 'team_introduction_page/images/image_4_429x620.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_4_240x346.jpg' %} 500w, {% static 'team_introduction_page/images/image_4_363x525.jpg' %} 850w, {% static 'team_introduction_page/images/image_4_429x620.jpg' %} 1200w", :alt => "Animal friendly", :title => "Animal friendly"}
        .right-container.right-column{:data-aos => "fade-up"}
            %img.lazyload.image_5{:data-src => "{% static 'team_introduction_page/images/image_5_796x530.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_5_446x297.jpg' %} 500w, {% static 'team_introduction_page/images/image_5_677x451.jpg' %} 850w, {% static 'team_introduction_page/images/image_5_796x530.jpg' %} 1200w", :alt => "Code Poets common dinner", :title => "Code Poets common dinner"}
    .deliver-part.row{:data-aos => "fade-up"}
        .outer-text-div.deliver-text-div
            .inner-text-div.inner-deliver-text-div
                .topic-row
                    .topic DELIVER
                .text-row
                    %p.description.deliver-part-description
                        We have smart and experienced people onboard.
                        We are committed to delivering scalable and exgendable, high-quality sofware.
                        Always on time.
    .improve-part.row
        .left-container.inner-left-container.left-column
            %img.lazyload.image_6{:data-src => "{% static 'team_introduction_page/images/image_6_597x400.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_6_333x223.jpg' %} 500w, {% static 'team_introduction_page/images/image_6_506x339.jpg' %} 850w, {% static 'team_introduction_page/images/image_6_597x400.jpg' %} 1200w", :alt => "Code Poets feather background", :title => "Code Poets feather background", :data-aos => "fade-up"}
            .outer-text-div.improve-text-div{:data-aos => "fade-up"}
                .inner-text-div.inner-improve-text-div
                    .topic-row
                        .topic IMPROVE
                    .text-row
                        .description.improve-part-description
                            Our brains hate being idle.
                            Passionate about our work, we are constantly moving forward, innovating and improving.
                            We think that it is the key to success.
            .square.orange-square{:data-aos => "fade-up"}
        .right-container.right-column
            %img.lazyload.image_7{:data-src => "{% static 'team_introduction_page/images/image_7_588x1008.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_7_311x533.jpg' %} 500w, {% static 'team_introduction_page/images/image_7_475x814.jpg' %} 850w, {% static 'team_introduction_page/images/image_7_588x1008.jpg' %} 1200w", :alt => "Code Poets ladies day", :title => "Code Poets ladies day", :data-aos => "fade-up"}
    .be-honest-part.row
        .left-container.inner-left-container.left-column
            %img.lazyload.overlayed-image.runmageddon-image{:data-src => "{% static 'team_introduction_page/images/image_8_529x875.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_8_296x490.jpg' %} 500w, {% static 'team_introduction_page/images/image_8_450x744.jpg' %} 850w, {% static 'team_introduction_page/images/image_8_529x875.jpg' %} 1200w", :alt => "Code Poets runmageddon", :title => "Code Poets runmageddon", :data-aos => "fade-up"}
            .square.blue-square{:data-aos => "fade-up"}
        .right-container.right-column
            %img.lazyload.image_9{:data-src => "{% static 'team_introduction_page/images/image_9_678x452.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_9_381x254.jpg' %} 500w, {% static 'team_introduction_page/images/image_9_578x385.jpg' %} 850w, {% static 'team_introduction_page/images/image_9_678x452.jpg' %} 1200w", :alt => "Code Poets west office", :title => "Code Poets west office", :data-aos => "fade-up"}
            .outer-text-div.be-honest-text-div{:data-aos => "fade-up"}
                .inner-text-div.inner-be-honest-text-div
                    .topic-row
                        .topic
                            BE HONEST
                    .text-row
                        %p.description.be-honest-part-description
                            Transparency and good communication are essential in achieving the best results and solving problems.
                            We are hones with you and we expect you to be honest with us.
    .be-honest-part-2.row
        .left-container.left-column
            .overlayed-image
                %img.lazyload.image_10{:data-src => "{% static 'team_introduction_page/images/image_10_431x288.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_10_241x161.jpg' %} 500w, {% static 'team_introduction_page/images/image_10_367x245.jpg' %} 850w, {% static 'team_introduction_page/images/image_10_431x288.jpg' %} 1200w", :alt => "Code Poets east office", :title => "Code Poets east office", :data-aos => "fade-up"}
                %img.lazyload.image_11{:data-src => "{% static 'team_introduction_page/images/image_11_432x288.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_11_242x161.jpg' %} 500w, {% static 'team_introduction_page/images/image_11_368x245.jpg' %} 850w, {% static 'team_introduction_page/images/image_11_432x288.jpg' %} 1200w", :alt => "Strong team", :title => "Strong team", :data-aos => "fade-up"}
        .right-container.right-column
            %img.lazyload.image_12{:data-src => "{% static 'team_introduction_page/images/image_12_768x512.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_12_432x288.jpg' %} 500w, {% static 'team_introduction_page/images/image_12_656x437.jpg' %} 850w, {% static 'team_introduction_page/images/image_12_768x512.jpg' %} 1200w", :alt => "Code Poets playroom", :title => "Code Poets playroom", :data-aos => "fade-up"}
    .self-organized-part.row
        .outer-text-div.self-organized-text-div{:data-aos => "fade-up"}
            .inner-text-div.inner-self-organized-text-div
                .topic-row
                    .topic
                        SELF-ORGANIZE
                .text-row
                    %p.description.self-organized-part-description
                        We're Agile supporters and we believe in teamwork.
                        We are sure that no one will arrange the process, projects and even the company better than its members.
    .self-organized-part-2.row
        .left-container.col-6.inner-left-container.left-column
            %img.lazyload.image_13{:data-src => "{% static 'team_introduction_page/images/image_13_575x431.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_13_333x250.jpg' %} 500w, {% static 'team_introduction_page/images/image_13_507x380.jpg' %} 850w, {% static 'team_introduction_page/images/image_13_575x431.jpg' %} 1200w", :alt => "Code Poets mountain journey", :title => "Code Poets mountain journey", :data-aos => "fade-up"}
            .square.red-square{:data-aos => "fade-up"}
        .right-container.col-6.right-column
            %img.lazyload.image_14{:data-src => "{% static 'team_introduction_page/images/image_14_614x532.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_14_460x399.jpg' %} 500w, {% static 'team_introduction_page/images/image_14_524x454.jpg' %} 850w, {% static 'team_introduction_page/images/image_14_614x532.jpg' %} 1200w", :alt => "Code Poets fat thursday", :title => "Code Poets fat thursday", :data-aos => "fade-up"}
    .self-organized-part-3.row
        .left-container.left-column
            %img.lazyload.overlayed-image.self-organized-overlayed-image{:data-src => "{% static 'team_introduction_page/images/image_15_485x534.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_15_255x281.jpg' %} 500w, {% static 'team_introduction_page/images/image_15_391x430.jpg' %} 850w, {% static 'team_introduction_page/images/image_15_485x534.jpg' %} 1200w", :alt => "Code Poets hot dog", :title => "Code Poets hot dog", :data-aos => "fade-up"}
        .right-container.right-column
            .outer-text-div.self-organized-2-text-div{:data-aos => "fade-up"}
                .inner-text-div.inner-self-organized-part-2-text-div
                    .topic-row
                        .topic
                            FEEL GOOD
                    .text-row
                        %p.description.self-organized-part-2-description
                            Maybe we don't save the world while working on the projects but we always remember that at the same time we can fell good, have fun, make friends and drink good coffee.
