{% load static %}
{% load variable_tag %}

{% if request.user_agent.browser.family|is_webp_supported %}
    {% define_variable ".webp" as extension %}
{% else %}
    {% define_variable ".jpg" as extension %}
{% endif %}

.about-us-section-header
    {% include "common_partials/section_header.haml" with title="Who are we?" subtext="" %}
.about-us-page
    .who-we-are-part.row{:data-aos => "fade-up"}
        .outer-text-div
            .inner-text-div
                .text-row.who-we-are-text-row
                    %p.description
                        Software is like poetry — knowing the language isn't enough to write a good poem.
                    %p.description.hidden
                        We know the language and, what’s more important, we know how to use it in an efficient way.
                        But rather than writing code for the sake of writing it, we always keep your ultimate business goals top of mind.
                        That’s what guides every aspect of how we run our business and how we’ve managed to delight the most demanding customers.
                    %p.description.hidden
                        From startups to big corporations, on-site and remote projects: the reason for our proven track record is agility.
                        We’ve remained an intentionally smaller-scale company so that we can fit your needs best and change with them as the collaboration evolves.
                    %p.description.hidden
                        Apart from being Code Poets we are travellers, mountain lovers, Brazilian jiu-jitsu practitioners, professional badminton players, amazing cooks and overall kind people to talk to.
            .read-more-less.read-less.hidden
                .button-inner-div
                    .read-text
                        Read less
            .read-more-less.read-more
                .button-inner-div
                    .read-text
                        Read more
    .our-values-part.row
        .left-container.left-column{:data-aos => "fade-up"}
            %img.lazyload.image_1{:data-src => "{% static 'team_introduction_page/images/image_1_750x500'|add:extension %}", :data-srcset => "{% static 'team_introduction_page/images/image_1_426x284'|add:extension %} 500w, {% static 'team_introduction_page/images/image_1_645x430'|add:extension %} 850w, {% static 'team_introduction_page/images/image_1_750x500'|add:extension %} 1200w", :alt => "Code Poets Team"}
        .right-container.right-column
            .outer-text-div.outer-our-values-text-div{:data-aos => "fade-up"}
                .inner-text-div.inner-our-values-text-div
                    .topic.our-values-topic Come meet us!
            %img.lazyload.image_2{:data-src => "{% static 'team_introduction_page/images/image_2_468x312'|add:extension %}", :data-srcset => "{% static 'team_introduction_page/images/image_2_264x176'|add:extension %} 500w, {% static 'team_introduction_page/images/image_2_399x266'|add:extension %} 850w, {% static 'team_introduction_page/images/image_2_468x312'|add:extension %} 1200w", :alt => "Having fun after work", :data-aos => "fade-up"}
    .understand-part.row
        .left-container.inner-left-container.left-column
            %img.lazyload.image_3{:data-src => "{% static 'team_introduction_page/images/image_3_525x350'|add:extension %}", :data-srcset => "{% static 'team_introduction_page/images/image_3_294x196'|add:extension %} 500w, {% static 'team_introduction_page/images/image_3_446x297'|add:extension %} 850w, {% static 'team_introduction_page/images/image_3_525x350'|add:extension %} 1200w", :alt => "Brazilian jiu-jitsu team", :data-aos => "fade-up"}
            .square.yellow-square{:data-aos => "fade-up"}
        .right-container.right-column
            %img.lazyload.image_16{:data-src => "{% static 'team_introduction_page/images/image_16_684x456'|add:extension %}", :data-srcset => "{% static 'team_introduction_page/images/image_16_388x259'|add:extension %} 500w, {% static 'team_introduction_page/images/image_16_588x392'|add:extension %} 850w, {% static 'team_introduction_page/images/image_16_684x456'|add:extension %} 1200w", :alt => "Business meetings", :data-aos => "fade-up"}
    .understand-part-2.row
        .left-container.left-column{:data-aos => "fade-up"}
            %img.lazyload.overlayed-image.image_4{:data-src => "{% static 'team_introduction_page/images/image_4_429x620'|add:extension %}", :data-srcset => "{% static 'team_introduction_page/images/image_4_240x346'|add:extension %} 500w, {% static 'team_introduction_page/images/image_4_363x525'|add:extension %} 850w, {% static 'team_introduction_page/images/image_4_429x620'|add:extension %} 1200w", :alt => "Working with friends"}
        .right-container.right-column{:data-aos => "fade-up"}
            %img.lazyload.image_5{:data-src => "{% static 'team_introduction_page/images/image_5_796x530'|add:extension %}", :data-srcset => "{% static 'team_introduction_page/images/image_5_446x297'|add:extension %} 500w, {% static 'team_introduction_page/images/image_5_677x451'|add:extension %} 850w, {% static 'team_introduction_page/images/image_5_796x530'|add:extension %} 1200w", :alt => "Lunch break"}
    .improve-part.row
        .left-container.inner-left-container.left-column
            %img.lazyload.image_6{:data-src => "{% static 'team_introduction_page/images/image_6_597x400'|add:extension %}", :data-srcset => "{% static 'team_introduction_page/images/image_6_333x223'|add:extension %} 500w, {% static 'team_introduction_page/images/image_6_506x339'|add:extension %} 850w, {% static 'team_introduction_page/images/image_6_597x400'|add:extension %} 1200w", :alt => "Arts & crafts", :data-aos => "fade-up"}
            %img.lazyload.image_17{:data-src => "{% static 'team_introduction_page/images/image_17_600x400'|add:extension %}", :data-srcset => "{% static 'team_introduction_page/images/image_17_340x227'|add:extension %} 500w, {% static 'team_introduction_page/images/image_17_516x344'|add:extension %} 850w, {% static 'team_introduction_page/images/image_17_600x400'|add:extension %} 1200w", :alt => "To eat or not to eat", :data-aos => "fade-up"}
            .square.orange-square{:data-aos => "fade-up"}
        .right-container.right-column
            %img.lazyload.image_7{:data-src => "{% static 'team_introduction_page/images/image_7_588x1008'|add:extension %}", :data-srcset => "{% static 'team_introduction_page/images/image_7_311x533'|add:extension %} 500w, {% static 'team_introduction_page/images/image_7_475x814'|add:extension %} 850w, {% static 'team_introduction_page/images/image_7_588x1008'|add:extension %} 1200w", :alt => "Happy Women’s Day!", :data-aos => "fade-up"}
    .be-honest-part.row
        .left-container.inner-left-container.left-column
            %img.lazyload.overlayed-image.runmageddon-image{:data-src => "{% static 'team_introduction_page/images/image_8_529x875'|add:extension %}", :data-srcset => "{% static 'team_introduction_page/images/image_8_296x490'|add:extension %} 500w, {% static 'team_introduction_page/images/image_8_450x744'|add:extension %} 850w, {% static 'team_introduction_page/images/image_8_529x875'|add:extension %} 1200w", :alt => "Runmageddon", :data-aos => "fade-up"}
            .square.blue-square{:data-aos => "fade-up"}
        .right-container.right-column
            %img.lazyload.image_9{:data-src => "{% static 'team_introduction_page/images/image_9_678x452'|add:extension %}", :data-srcset => "{% static 'team_introduction_page/images/image_9_381x254'|add:extension %} 500w, {% static 'team_introduction_page/images/image_9_578x385'|add:extension %} 850w, {% static 'team_introduction_page/images/image_9_678x452'|add:extension %} 1200w", :alt => "Office space", :data-aos => "fade-up"}
            %img.lazyload.image_18{:data-src => "{% static 'team_introduction_page/images/image_18_678x452'|add:extension %}", :data-srcset => "{% static 'team_introduction_page/images/image_18_381x254'|add:extension %} 500w, {% static 'team_introduction_page/images/image_18_578x385'|add:extension %} 850w, {% static 'team_introduction_page/images/image_18_678x452'|add:extension %} 1200w", :alt => "Hard at work", :data-aos => "fade-up"}
    .be-honest-part-2.row
        .left-container.left-column
            .overlayed-image
                %img.lazyload.image_10{:data-src => "{% static 'team_introduction_page/images/image_10_431x288'|add:extension %}", :data-srcset => "{% static 'team_introduction_page/images/image_10_241x161'|add:extension %} 500w, {% static 'team_introduction_page/images/image_10_367x245'|add:extension %} 850w, {% static 'team_introduction_page/images/image_10_431x288'|add:extension %} 1200w", :alt => "Blank canvas", :data-aos => "fade-up"}
                %img.lazyload.image_11{:data-src => "{% static 'team_introduction_page/images/image_11_432x288'|add:extension %}", :data-srcset => "{% static 'team_introduction_page/images/image_11_242x161'|add:extension %} 500w, {% static 'team_introduction_page/images/image_11_368x245'|add:extension %} 850w, {% static 'team_introduction_page/images/image_11_432x288'|add:extension %} 1200w", :alt => "Strong team", :data-aos => "fade-up"}
        .right-container.right-column
            %img.lazyload.image_12{:data-src => "{% static 'team_introduction_page/images/image_12_768x512'|add:extension %}", :data-srcset => "{% static 'team_introduction_page/images/image_12_432x288'|add:extension %} 500w, {% static 'team_introduction_page/images/image_12_656x437'|add:extension %} 850w, {% static 'team_introduction_page/images/image_12_768x512'|add:extension %} 1200w", :alt => "Playroom", :data-aos => "fade-up"}
    .self-organized-part-2.row
        .left-container.col-6.inner-left-container.left-column
            %img.lazyload.image_13{:data-src => "{% static 'team_introduction_page/images/image_13_575x431'|add:extension %}", :data-srcset => "{% static 'team_introduction_page/images/image_13_333x250'|add:extension %} 500w, {% static 'team_introduction_page/images/image_13_507x380'|add:extension %} 850w, {% static 'team_introduction_page/images/image_13_575x431'|add:extension %} 1200w", :alt => "Work together, vacation together", :data-aos => "fade-up"}
            .square.red-square{:data-aos => "fade-up"}
        .right-container.col-6.right-column
            %img.lazyload.image_14{:data-src => "{% static 'team_introduction_page/images/image_14_614x532'|add:extension %}", :data-srcset => "{% static 'team_introduction_page/images/image_14_460x399'|add:extension %} 500w, {% static 'team_introduction_page/images/image_14_524x454'|add:extension %} 850w, {% static 'team_introduction_page/images/image_14_614x532'|add:extension %} 1200w", :alt => "Fat Thursday", :data-aos => "fade-up"}
    .self-organized-part-3.row
        .left-container.left-column
            %img.lazyload.overlayed-image.self-organized-overlayed-image{:data-src => "{% static 'team_introduction_page/images/image_15_485x534'|add:extension %}", :data-srcset => "{% static 'team_introduction_page/images/image_15_255x281'|add:extension %} 500w, {% static 'team_introduction_page/images/image_15_391x430'|add:extension %} 850w, {% static 'team_introduction_page/images/image_15_485x534'|add:extension %} 1200w", :alt => "The most gorgeous hot dog", :data-aos => "fade-up"}
        .right-container.right-column
            %img.lazyload.image_19{:data-src => "{% static 'team_introduction_page/images/image_19_690x460'|add:extension %}", :data-srcset => "{% static 'team_introduction_page/images/image_19_391x261'|add:extension %} 500w, {% static 'team_introduction_page/images/image_19_593x395'|add:extension %} 850w, {% static 'team_introduction_page/images/image_19_690x460'|add:extension %} 1200w", :alt => "VR games", :data-aos => "fade-up"}
