{% load static %}
.about-us-section-header
    {% include "common_partials/section_header.haml" with title="Who are we?" subtext="" %}
.about-us-page
    .who-we-are-part.row{:data-aos => "fade-up"}
        .outer-text-div
            .inner-text-div
                .text-row.who-we-are-text-row
                    %p.description
                        Software is like poetry — knowing the language isn't enough to write a good poem.
                    %p.description.hidden
                        We know the language and, what’s more important, we know how to use it in an efficient way.
                        But rather than writing code for the sake of writing it, we always keep your ultimate business goals top of mind.
                        That’s what guides every aspect of how we run our business and how we’ve managed to delight the most demanding customers.
                    %p.description.hidden
                        From startups to big corporations, on-site and remote projects: the reason for our proven track record is agility.
                        We’ve remained an intentionally smaller-scale company so that we can fit your needs best and change with them as the collaboration evolves.
                    %p.description.hidden
                        Apart from being Code Poets we are travellers, mountain lovers, Brazilian jiu-jitsu practitioners, professional badminton players, amazing cooks and overall kind people to talk to.
            .read-more-less.read-less.hidden
                .button-inner-div
                    .read-text
                        Read less
            .read-more-less.read-more
                .button-inner-div
                    .read-text
                        Read more
    .our-values-part.row
        .left-container.left-column{:data-aos => "fade-up"}
            %img.lazyload.image_1{:data-src => "{% static 'team_introduction_page/images/image_1_750x500.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_1_426x284.jpg' %} 500w, {% static 'team_introduction_page/images/image_1_645x430.jpg' %} 850w, {% static 'team_introduction_page/images/image_1_750x500.jpg' %} 1200w", :alt => "Code Poets Team", :title => "Code Poets Team"}
        .right-container.right-column
            .outer-text-div.outer-our-values-text-div{:data-aos => "fade-up"}
                .inner-text-div.inner-our-values-text-div
                    .topic.our-values-topic Come meet us!
            %img.lazyload.image_2{:data-src => "{% static 'team_introduction_page/images/image_2_468x312.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_2_264x176.jpg' %} 500w, {% static 'team_introduction_page/images/image_2_399x266.jpg' %} 850w, {% static 'team_introduction_page/images/image_2_468x312.jpg' %} 1200w", :alt => "Having fun after work", :title => "Having fun after work", :data-aos => "fade-up"}
    .understand-part.row
        .left-container.inner-left-container.left-column
            %img.lazyload.image_3{:data-src => "{% static 'team_introduction_page/images/image_3_525x350.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_3_294x196.jpg' %} 500w, {% static 'team_introduction_page/images/image_3_446x297.jpg' %} 850w, {% static 'team_introduction_page/images/image_3_525x350.jpg' %} 1200w", :alt => "Brazilian jiu-jitsu team", :title => "Brazilian jiu-jitsu team", :data-aos => "fade-up"}
            .square.yellow-square{:data-aos => "fade-up"}
        .right-container.right-column
            %img.lazyload.image_16{:data-src => "{% static 'team_introduction_page/images/image_16_684x456.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_16_388x259.jpg' %} 500w, {% static 'team_introduction_page/images/image_16_588x392.jpg' %} 850w, {% static 'team_introduction_page/images/image_16_684x456.jpg' %} 1200w", :alt => "Business meetings", :title => "Business meetings", :data-aos => "fade-up"}
    .understand-part-2.row
        .left-container.left-column{:data-aos => "fade-up"}
            %img.lazyload.overlayed-image.image_4{:data-src => "{% static 'team_introduction_page/images/image_4_429x620.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_4_240x346.jpg' %} 500w, {% static 'team_introduction_page/images/image_4_363x525.jpg' %} 850w, {% static 'team_introduction_page/images/image_4_429x620.jpg' %} 1200w", :alt => "Working with friends", :title => "Working with friends"}
        .right-container.right-column{:data-aos => "fade-up"}
            %img.lazyload.image_5{:data-src => "{% static 'team_introduction_page/images/image_5_796x530.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_5_446x297.jpg' %} 500w, {% static 'team_introduction_page/images/image_5_677x451.jpg' %} 850w, {% static 'team_introduction_page/images/image_5_796x530.jpg' %} 1200w", :alt => "Lunch break", :title => "Lunch break"}
    .improve-part.row
        .left-container.inner-left-container.left-column
            %img.lazyload.image_6{:data-src => "{% static 'team_introduction_page/images/image_6_597x400.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_6_333x223.jpg' %} 500w, {% static 'team_introduction_page/images/image_6_506x339.jpg' %} 850w, {% static 'team_introduction_page/images/image_6_597x400.jpg' %} 1200w", :alt => "Arts & crafts", :title => "Arts & crafts", :data-aos => "fade-up"}
            %img.lazyload.image_17{:data-src => "{% static 'team_introduction_page/images/image_17_600x400.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_17_340x227.jpg' %} 500w, {% static 'team_introduction_page/images/image_17_516x344.jpg' %} 850w, {% static 'team_introduction_page/images/image_17_600x400.jpg' %} 1200w", :alt => "To eat or not to eat", :title => "To eat or not to eat", :data-aos => "fade-up"}
            .square.orange-square{:data-aos => "fade-up"}
        .right-container.right-column
            %img.lazyload.image_7{:data-src => "{% static 'team_introduction_page/images/image_7_588x1008.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_7_311x533.jpg' %} 500w, {% static 'team_introduction_page/images/image_7_475x814.jpg' %} 850w, {% static 'team_introduction_page/images/image_7_588x1008.jpg' %} 1200w", :alt => "Happy Women’s Day!", :title => "Happy Women’s Day!", :data-aos => "fade-up"}
    .be-honest-part.row
        .left-container.inner-left-container.left-column
            %img.lazyload.overlayed-image.runmageddon-image{:data-src => "{% static 'team_introduction_page/images/image_8_529x875.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_8_296x490.jpg' %} 500w, {% static 'team_introduction_page/images/image_8_450x744.jpg' %} 850w, {% static 'team_introduction_page/images/image_8_529x875.jpg' %} 1200w", :alt => "Runmageddon", :title => "Runmageddon", :data-aos => "fade-up"}
            .square.blue-square{:data-aos => "fade-up"}
        .right-container.right-column
            %img.lazyload.image_9{:data-src => "{% static 'team_introduction_page/images/image_9_678x452.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_9_381x254.jpg' %} 500w, {% static 'team_introduction_page/images/image_9_578x385.jpg' %} 850w, {% static 'team_introduction_page/images/image_9_678x452.jpg' %} 1200w", :alt => "Office space", :title => "Office space", :data-aos => "fade-up"}
            %img.lazyload.image_18{:data-src => "{% static 'team_introduction_page/images/image_18_678x452.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_18_381x254.jpg' %} 500w, {% static 'team_introduction_page/images/image_18_578x385.jpg' %} 850w, {% static 'team_introduction_page/images/image_18_678x452.jpg' %} 1200w", :alt => "Hard at work", :title => "Hard at work", :data-aos => "fade-up"}
    .be-honest-part-2.row
        .left-container.left-column
            .overlayed-image
                %img.lazyload.image_10{:data-src => "{% static 'team_introduction_page/images/image_10_431x288.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_10_241x161.jpg' %} 500w, {% static 'team_introduction_page/images/image_10_367x245.jpg' %} 850w, {% static 'team_introduction_page/images/image_10_431x288.jpg' %} 1200w", :alt => "Blank canvas", :title => "Blank canvas", :data-aos => "fade-up"}
                %img.lazyload.image_11{:data-src => "{% static 'team_introduction_page/images/image_11_432x288.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_11_242x161.jpg' %} 500w, {% static 'team_introduction_page/images/image_11_368x245.jpg' %} 850w, {% static 'team_introduction_page/images/image_11_432x288.jpg' %} 1200w", :alt => "Strong team", :title => "Strong team", :data-aos => "fade-up"}
        .right-container.right-column
            %img.lazyload.image_12{:data-src => "{% static 'team_introduction_page/images/image_12_768x512.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_12_432x288.jpg' %} 500w, {% static 'team_introduction_page/images/image_12_656x437.jpg' %} 850w, {% static 'team_introduction_page/images/image_12_768x512.jpg' %} 1200w", :alt => "Playroom", :title => "Playroom", :data-aos => "fade-up"}
    .self-organized-part-2.row
        .left-container.col-6.inner-left-container.left-column
            %img.lazyload.image_13{:data-src => "{% static 'team_introduction_page/images/image_13_575x431.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_13_333x250.jpg' %} 500w, {% static 'team_introduction_page/images/image_13_507x380.jpg' %} 850w, {% static 'team_introduction_page/images/image_13_575x431.jpg' %} 1200w", :alt => "Work together, vacation together", :title => "Work together, vacation together", :data-aos => "fade-up"}
            .square.red-square{:data-aos => "fade-up"}
        .right-container.col-6.right-column
            %img.lazyload.image_14{:data-src => "{% static 'team_introduction_page/images/image_14_614x532.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_14_460x399.jpg' %} 500w, {% static 'team_introduction_page/images/image_14_524x454.jpg' %} 850w, {% static 'team_introduction_page/images/image_14_614x532.jpg' %} 1200w", :alt => "Fat Thursday", :title => "Fat Thursday", :data-aos => "fade-up"}
    .self-organized-part-3.row
        .left-container.left-column
            %img.lazyload.overlayed-image.self-organized-overlayed-image{:data-src => "{% static 'team_introduction_page/images/image_15_485x534.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_15_255x281.jpg' %} 500w, {% static 'team_introduction_page/images/image_15_391x430.jpg' %} 850w, {% static 'team_introduction_page/images/image_15_485x534.jpg' %} 1200w", :alt => "The most gorgeous hot dog", :title => "The most gorgeous hot dog", :data-aos => "fade-up"}
        .right-container.right-column
            %img.lazyload.image_19{:data-src => "{% static 'team_introduction_page/images/image_19_690x460.jpg' %}", :data-srcset => "{% static 'team_introduction_page/images/image_19_391x261.jpg' %} 500w, {% static 'team_introduction_page/images/image_19_593x395.jpg' %} 850w, {% static 'team_introduction_page/images/image_19_690x460.jpg' %} 1200w", :alt => "VR games", :title => "VR games", :data-aos => "fade-up"}
