{% load static %}
{% load thumbnail %}

.employees-intruduction
    .text-div OUR TEAM
    .team-images
        .bosses-images
            {% for boss in bosses %}
                .person.boss
                    {% thumbnail boss.front_image "267x400" as front_image %}
                    {% thumbnail boss.back_image "267x400" as back_image %}
                        .person-container
                            %img.lazyload.front-image{:data-src => "{{ front_image.url }}"}
                            %img.lazyload.back-image{:data-src => "{{ back_image.url }}"}
                            %p.boss-name {{ boss.name }}
                            %p.boss-position {{ boss.position }}
                    {% endthumbnail %}
                    {% endthumbnail %}
            {% endfor %}
        .employees-images
            {% for employee in employees %}
                {% thumbnail employee.front_image "200x300" as front_image %}
                {% thumbnail employee.back_image "200x300" as back_image %}
                    .person.employee
                        .person-container
                            %img.lazyload.front-image{:data-src => "{{ front_image.url }}"}
                            %img.lazyload.back-image{:data-src => "{{ back_image.url }}"}
                            %p.employee-name {{ employee.name }}
                            %p.employee-position {{ employee.position }}
                {% endthumbnail %}
                {% endthumbnail %}
            {% endfor %}
