{% load static %}
{% load thumbnail %}


.employees-intruduction-header-section
    {% include "common_partials/section_header.haml" with title="Our Team" subtext="" %}

.employees-intruduction
    .team-images
        .bosses-images
            {% for boss in bosses %}
                .person.boss{:data-aos => "fade-in"}
                    {% thumbnail boss.front_image "267x400" as front_image %}
                    {% thumbnail boss.back_image "267x400" as back_image %}
                        .person-container
                            %img.lazyload.front-image{:data-src => "{{ front_image.url }}", :alt => "{{ boss.full_name }}"}
                            %img.lazyload.back-image{:data-src => "{{ back_image.url }}", :alt => "{{ boss.full_name }}"}
                            %p.boss-name {{ boss.full_name }}
                            %p.boss-position {{ boss.position }}
                    {% endthumbnail %}
                    {% endthumbnail %}
            {% endfor %}
        .employees-images
            {% for employee in employees %}
                {% thumbnail employee.front_image "200x300" as front_image %}
                {% thumbnail employee.back_image "200x300" as back_image %}
                    .person.employee{:data-aos => "fade-in"}
                        .person-container
                            %img.lazyload.front-image{:data-src => "{{ front_image.url }}", :alt => "{{ employee.get_display_name }}"}
                            %img.lazyload.back-image{:data-src => "{{ back_image.url }}", :alt => "{{ employee.get_display_name }}"}
                            %p.employee-name {{ employee.get_display_name }}
                            %p.employee-position {{ employee.position }}
                {% endthumbnail %}
                {% endthumbnail %}
            {% endfor %}
