.container.privacy-and-policy
    %h1.privacy-title
        PRIVACY AND COOKIE POLICY
    %p.description
        Effective date: November 27, 2018
    %p.description
        Code Poets sp. z o.o. (“us”, “we”, or “our”) operates the codepoets.it website (the “Service”).
    %p.description
        This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data.
    %p.description
        We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible from codepoets.it
    %h2.header-two.information-collection
        INFORMATION COLLECTION AND USE
    %p.description
        We collect several different types of information for various purposes to provide and improve our Service to you.
    %h3.header-three.types-data
        Types of Data Collected
    %h4.header-four.personal-data
        Personal Data
    %p.description
        While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you (“Personal Data”). Personally identifiable information may include, but is not limited to:
    %ul.personal-ul
        %li Email address
        %li First name and last name
        %li Cookies and Usage Data
    %h4.header-four.usage-data
        Usage Data
    %p.description
        We may also collect information how the Service is accessed and used (“Usage Data”). This Usage Data may include information such as your computer’s Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.
    %h4.header-four.tracking-cookies-data
        Tracking & Cookies Data
    %p.description
        We use cookies and similar tracking technologies to track the activity on our Service and hold certain information.
    %p.description
        Cookies are files with small amount of data which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your device. Tracking technologies also used are beacons, tags, and scripts to collect and track information and to improve and analyze our Service.
    %p.description
        You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.
    %p.description
        Examples of Cookies we use:
    %ul.tracking-cookies-ul
        %li
            %strong Session Cookies.
            We use Session Cookies to operate our Service.
        %li
            %strong
                Preference Cookies.
            We use Preference Cookies to remember your preferences and various settings.
        %li
            %strong
                Security Cookies.
            We use Security Cookies for security purposes.
    %table.cookies-table
        %tbody
            %tr.row-tr.grey-tr
                %th.title-cell COOKIE NAME
                %th.title-cell EXPIRATION TIME
                %th.title-cell DESCRIPTION
            %tr.row-tr
                %td.cell _ga
                %td.cell 2 years
                %td.cell Used to distinguish users.
            %tr.row-tr.grey-tr
                %td.cell _gid
                %td.cell 24 hours
                %td.cell Used to distinguish users.
            %tr.row-tr
                %td.cell _gat
                %td.cell 1 minute
                %td.cell Used to throttle request rate. If Google Analytics is deployed via Google Tag Manager, this cookie will be named _dc_gtm_.
            %tr.row-tr.grey-tr
                %td.cell AMP_TOKEN
                %td.cell 30 seconds to 1 year
                %td.cell Contains a token that can be used to retrieve a Client ID from AMP Client ID service. Other possible values indicate opt-out, inflight request or an error retrieving a Client ID from AMP Client ID service.
            %tr.row-tr
                %td.cell _gac_
                %td.cell 90 days
                %td.cell
                    Contains campaign related information for the user. Google Ads website conversion tags will read this cookie unless you opt-out.
                    %a.link{:href => "https://support.google.com/google-ads/answer/7521212"}
                        Learn more.

    %h2.header-two.use-of-data
        USE OF DATA
    %p.description
        Code Poets sp. z o.o. uses the collected data for various purposes:
    %ul.use-of-data-ul
        %li To provide and maintain the Service
        %li To notify you about changes to our Service
        %li To allow you to participate in interactive features of our Service when you choose to do so
        %li To provide customer care and support
        %li To provide analysis or valuable information so that we can improve the Service
        %li To monitor the usage of the Service
        %li To detect, prevent and address technical issues
    %h2.header-two.transfer-of-data
        TRANSFER OF DATA
    %p.description
        Your information, including Personal Data, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.
    %p.description
        If you are located outside Poland and choose to provide information to us, please note that we transfer the data, including Personal Data, to Poland and process it there.
    %p.description
        Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.
    %p.description
        Code Poets sp. z o.o. will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of your data and other personal information.
    %h2.header-two.disclosure-of-data
        DISCLOSURE OF DATA
    %h3.header-three.legal-requirements
        Legal Requirements
    %p.description
        Code Poets sp. z o.o. may disclose your Personal Data in the good faith belief that such action is necessary to:
    %ul.legal-requirements-ul
        %li To comply with a legal obligation
        %li To protect and defend the rights or property of Code Poets sp. z o.o.
        %li To prevent or investigate possible wrongdoing in connection with the Service
        %li To protect the personal safety of users of the Service or the public
        %li To protect against legal liability
    %h2.header-two.security-data
        SECURITY OF DATA
    %p.description
        The security of your data is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.
    %h2.header-two.services-providers
        SERVICE PROVIDERS
    %p.description
        We may employ third party companies and individuals to facilitate our Service (“Service Providers”), to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.
    %p.description
        These third parties have access to your Personal Data only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.
    %h3.header-three.analytics
    %p.description
        We may use third-party Service Providers to monitor and analyze the use of our Service.
    %ul.analytics-ul
        %li
            %strong
                Google Analytics
            Google Analytics is a web analytics service offered by Google that tracks and reports website traffic. Google uses the data collected to track and monitor the use of our Service. This data is shared with other Google services. Google may use the collected data to contextualize and personalize the ads of its own advertising network.You can opt-out of having made your activity on the Service available to Google Analytics by installing the Google Analytics opt-out browser add-on. The add-on prevents the Google Analytics JavaScript (ga.js, analytics.js, and dc.js) from sharing information with Google Analytics about visits activity.For more information on the privacy practices of Google, please visit the Google Privacy & Terms web page:
            %a.link{:href => "https://policies.google.com/privacy?hl=en"} https://policies.google.com/privacy?hl=en
        %li
            %strong
                Google Web Fonts
            The Google Fonts API is designed to limit the collection, storage, and use of end-user data to what is needed to serve fonts efficiently.Use of Google Fonts is unauthenticated. No cookies are sent by website visitors to the Google Fonts API. Requests to the Google Fonts API are made to resource-specific domains, such as fonts.googleapis.com or fonts.gstatic.com, so that your requests for fonts are separate from and do not contain any credentials you send to google.com while using other Google services that are authenticated, such as Gmail.In order to serve fonts quickly and efficiently with the fewest requests, responses are cached by the browser to minimize round-trips to our servers.Requests for CSS assets are cached for 1 day. This allows us to update a stylesheet to point to a new version of a font file when it’s updated, and ensures that all websites using fonts hosted by the Google Fonts API will be using the most updated version of each font within 24 hours of each release.The font files themselves are cached for one year, which cumulatively has the effect of making the entire web faster: When millions of websites all link to the same fonts, they are cached after visiting the first website and appear instantly on all other subsequently visited sites. We do sometimes update font files to reduce their file size, increase coverage of languages, and improve the quality of their design. The result is that website visitors send very few requests to Google: We only see 1 CSS request per font family, per day, per browser.Google Fonts logs records of the CSS and the font file requests, and access to this data is
            %a.link{:href => "https://policies.google.com/privacy#infosecurity"}
                kept secure.
            Aggregate usage numbers track how popular font families are, and are published on
            %a.link{:href => "https://fonts.google.com/#Analytics:total"}
                analytics page.
            Google use data from Google’s web crawler to detect which websites use Google fonts. This data is published and accessible in the
            %a.link{:href => "https://docs.google.com/document/d/1hrPWqBHMVlGmbAc8t4xQyvr4vC9WqCLtM1-DH6vEP7k/edit"}
                Google Fonts BigQuery database.
            To learn more about the information Google collects and how it is used and secured, see Google’s
            %a.link{:href => "https://policies.google.com/privacy"} Privacy Policy.
    %h2.header-two.managing-cookies
        MANAGING COOKIES
    %p.description
        Most browsers allow you to turn off cookies or to customise your settings for cookies. For more information please see the links below in relation to cookie settings for the most popular browsers.

    %ul.managing-cookies-ul
        %li
            %a.link{:href => "https://support.google.com/chrome/answer/95647"} Google Chrome
        %li
            %a.link{:href => "https://support.microsoft.com/en-ie/help/17442/windows-internet-explorer-delete-manage-cookies"} Internet Explorer
        %li
            %a.link{:href => "https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences"} Firefox
        %li
            %a.link{:href => "https://support.apple.com/pl-pl/guide/safari/sfri11471/mac"} Safari
        %li
            %a.link{:href => "https://support.apple.com/en-us/HT201265"} Safari Mobile
        %li
            %a.link{:href => "https://help.opera.com/pl/latest/web-preferences/"} Opera
    %p.description
        You can change cookie and privacy settings on our site here:
        %span.cookies-span
            %a.cookies{:href => "https://help.opera.com/pl/latest/web-preferences/"} Cookie and Privacy Settings
    %h2.header-two.links-to-other-sites
        LINKS TO OTHER SITES
    %p.description
        Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party’s site. We strongly advise you to review the Privacy Policy of every site you visit.
    %p.description
        We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.
    %h2.header-two.children-privacy
        CHILDREN’S PRIVACY
    %p.description
        Our Service does not address anyone under the age of 18 (“Children”).
    %p.description
        We do not knowingly collect personally identifiable information from anyone under the age of 18. If you are a parent or guardian and you are aware that your Children has provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from children without verification of parental consent, we take steps to remove that information from our servers.
    %h2.header-two.changes-to-privacy
        CHANGES TO THIS PRIVACY POLICY
    %p.description
        We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.
    %p.description
        We will let you know via email and/or a prominent notice on our Service, prior to the change becoming effective and update the “effective date” at the top of this Privacy Policy.
    %p.description
        You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.
    %h2.header-two.contact-us
        CONTACT US
    %p.description
        If you have any questions about this Privacy Policy, please contact us:
    %ul.contact-us-ul
        %li By email: contact@codepoets.it
