{% load static %}

.estimate-project-section-header
  {% include "common_partials/section_header.haml" with title="Estimate your project" subtext="We’ll get to back to you within 24 hours with the next steps" %}

.container.estimate-form
  %form{:method => "post", :id => "estimate-project-form"}
    {% csrf_token %}
    .row
      .col-md-6.col-12.custom-col-padding
        .input-fields-container
          .input-field
            {{form.name}}
            .label-container
              .estimate-triangle-left-label
                Name *

          .input-field
            {{form.email}}
            .label-container
              .estimate-triangle-left-label
                E-mail *

      .col-md-6.col-12.custom-col-padding
        .describe-idea-box-input
          .top-label
            Describe your idea *
          .describe-idea
            {{form.idea_description}}
            %img.feather-background.lazyload{:src => "{% static 'estimate_project/images/feather_horizontal_299x150.png' %}", :alt => "Feather", :title => "Feather"}

      .col-md-6.col-12.custom-col-padding
        .privacy-policy-form
          {{form.privacy_policy_accepted}}
          I have read and accepted
          %a.privacy-policy-link{:href => "{% url 'privacy_and_policy' %}"}
            Privacy Policy

    .row
      .estimate-project-button
        %input.custom-button{:id=>"estimate-project", :value => "Estimate Project", :type => "submit"}
