-#@import "../common/partials/constants"


.container.estimate-container
    .row
        .col-md-8.offset-md-2.text-left.section-title
            %h1.title Estimate your project.
            %h2.estimate-description Please fill out this simple form.
            %h2.estimate-description We will contact you soon to discuss you project and next steps.
