@import "../../../company_website/static/common/partials/constants"

$post-width-in-px: 800px
$post-width-in-vw: 90vw
$dark-blue: #03428c
$dark-grey: #404852
$light-grey: #a7abb1
$table-header-color: #F8F8F8
$table-border: #E1E1E1
$orange: #F06D1F
$author-image-size: 50px
$width-to-change-details: 500px


.post-container
    @media only screen and (max-width: $menu-max-size)
        margin-top: $mobile-menu-height

    p
        text-align: justify
        margin-bottom: 35px
        line-height: 1.8rem

    h3
        margin-top: 15px
        margin-bottom: 35px

        &::before
            display: block
            content: " "
            margin-top: calc(-#{$base-menu-height} - 40px)
            height: calc(#{$base-menu-height} + 40px)
            visibility: hidden
            pointer-events: none

            @media only screen and (max-width: $menu-max-size)
                margin-top: calc(-#{$mobile-menu-height} - 50px)
                height: calc(#{$mobile-menu-height} + 50px)

    table
        width: 100%
        border: 1px solid
        margin-top: 5px
        margin-bottom: 35px

        caption
            text-align: center

        th
            padding: 10px
            background-color: $table-header-color
            border: 1px solid $table-border
            font-weight: 400

        td
            border: 1px solid $table-border
            padding: 10px


    img
        width: 100%
        height: auto
        margin-top: 5px
        margin-bottom: 35px

    .table-of-contents
        padding-top: 10px

        li
            font-size: 19px

    .article-photo
        width: 100%
        height: 30vw

    .article-details
        margin-bottom: 40px
        position: relative
        .row
            margin: 0

        .post-title
            font-size: 35px
            color: $dark-blue
            font-weight: 600
            margin-bottom: 10px

        .author-image
            border-radius: 50%
            width: $author-image-size
            height: $author-image-size
            object-fit: cover
            object-position: top
            margin-right: 10px

        .author-details
            margin: auto 0

        .author-name
            color: $dark-blue
            font-weight: 700
            font-size: 15px

        .author-position
            font-size: 10px
            color: $dark-grey
            font-weight: 700

        .rest-information-row
            position: relative
            width: calc(#{$post-width-in-vw} - #{$author-image-size} - 10px)
            @media only screen and (min-width: $post-width-in-px)
                width: calc(#{$post-width-in-px} - #{$author-image-size} - 10px)

        .rest-details
            font-size: 10px
            position: absolute
            right: 0

            .inline-display
                display: inline-block

            .read-time
                padding: 0 20px
                @media only screen and (max-width: $width-to-change-details)
                    padding: 0 3px

        .more-details-desktop-look
            @media only screen and (max-width: $width-to-change-details)
                display: none
        .more-details-mobile-look
            display: block
            @media only screen and (min-width: $width-to-change-details)
                display: none
            .inner-more-details-mobile-look
                position: relative

    .post-body
        width: 90vw
        margin: 2vw auto
        @media only screen and (min-width: $post-width-in-px)
            width: $post-width-in-px
            margin: 25px auto

    .recommendations
        margin-bottom: 25px

a
    color: $blue-color
    transition-duration: .2s

    &:hover
        color: $orange-color
        text-decoration: none
