$font-family: 'Open Sans', sans-serif
$light-blue: #deecf7
$blue: #3778bc
$blue-highlight: #4b86c1
$light-grey: #a7abb1
$medium-grey: #404852
$dark-grey: #36393d
$orange-color: #FFC03C
$orange-hover-color: #ffb83d
$blue-color: #3777BC
$hovered-blue-color: #528ac4

$service-green-box-color: #CFE8AD
$service-green-box-color-light: #88BD40
$service-red-box-color: #EAC4BB
$service-red-box-color-light: #D5502F
$service-orange-box-color: #FEDF9E
$service-orange-box-color-light: #FFC03C
$service-blue-box-color: #CAD6E3
$service-blue-box-color-light: #3877BC

$grey-hr-color: rgba(223, 235, 229, 1)
$white-color: rgb(255, 255, 255)

$fast-animation: all 0.4s ease
$logo-animation: all 0.6s ease
$logo-make-bigger-animation: all 0.6s 0.1s ease
$slow-animation: all 1s ease

$md-screen-size: 991px
$sm-screen-size: 767px
$mobile-devices-size: 450px


$menu-max-size: 1175px

$extra-large-services-size: 1199px

@mixin hamburger-line
	width: 100%
	height: 3px
	background-color: $orange-color
	position: absolute

$container-padding: 19%
$container-md-padding: 10%
$container-title-template-margin: 25px
$container-title-template-margin-bottom: 45px
$container-row-line-margin: 20px

$lg-breakpoint: 991px
$max-section-width: 1318px
$ready-to-work-with-us-backdrop-offset: 125px
$ready-to-work-with-us-estimate-project-offset: 49px

$portfolio-altenberg-gradient-color: linear-gradient(to bottom right, #612D86, #B53C95)
$polish-lody-font-color: #4B403A

$max-height-box: 512.5px
$hidden-projects-on-mobile-devices: 3

$section-header-yellow-color: #FFC03D

$top-margin-with-menu: 110px

// company introduction constants
$about-us-page-width: 1200px
$default-border-radius-in-px: 15px
$default-border-radius-in-vw: 1.5vw
$default-padding-in-px: 25px
$default-padding-in-vw: 2vw
$square-side-length-in-px: 65px
$square-side-length-in-vw: 5.2vw
$bright-blue: #41A6DE
$company-introduction-orange-color: #F06D1F
$company-introduction-yellow-color: #FFC03D
$company-introduction-red-color: #D74142

// employees introduction constants
$separation-margin-between-introductions-in-px: 60px
$separation-margin-between-introductions-in-vw: 4.5vw


// how we work constants
$header-color: #F2D100
$should-know-header-color: #1843BA
$row-breakpoint: 767px

$hotspot-pulse-color: #4c88bf
$hotspot-size-breakpoint: 550px

$img-popup-breakpoint: 1024px
$close_color: #f1f1f1
$close-color-hover: #bbb

$graph-950-breakpoint: 950px
$graph-850-breakpoint: 850px
$graph-590-breakpoint: 590px

$color-arrow-blue: #005B97
$color-arrow-white: #CCE0F4

$blue-font-color: #153AA0
$graph-green-color: #8ABD3B
$graph-blue-color: #3EA3D7
$graph-grey-color: #A8A8A8
$graph-yellow-color: #FCC03C
$graph-red-color: #D94141

// career constants
$career-container-horizontal-padding: 20px
$career-container-max-width: calc(1164px + #{$career-container-horizontal-padding} * 2)
